<section id="lists" class="l-wrapper top-margin">
  <h2>Lists</h2>
  <p>This section displays the variety of list options for the Teleflora site.</p>

  <!-- section container starts -->
  <div class="m-about-content-inner top-margin">
    <p>
      Nam vulputate leo sed orci tristique, nec vehicula nisl viverra. Donec lacinia non leo eget ultricies. Nulla consequat, urna vel commodo faucibus, ligula libero feugiat lectus, vitae interdum justo nunc ac neque. Quisque eget aliquet orci.
    </p>
    <ul class="m-about-content-list">
      <li><p>Bullet 1</p></li>
      <li><p>Bullet 2</p></li>
      <li><p>Bullet 3</p></li>
    </ul>
  </div>
  <!-- section container ends -->

  <!-- section container starts -->
  <div class="m-about-content-inner">
    <p>
      Fusce porta tortor elit, adipiscing tempor mauris vulputate ac. Morbi dictum odio commodo laoreet mattis. Pellentesque tristique id dolor elementum posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <ol class="m-about-content-list">
      <li><p>Bullet 1</p></li>
      <li><p>Bullet 2</p></li>
      <li><p>Bullet 3</p></li>
    </ol>
  </div>
  <!-- section container ends -->
  <!-- section container starts -->
  <div class="m-about-content-inner">
    <p>
      Vivamus eget hendrerit nisl. Proin sit amet felis id mauris congue ultricies in ut sapien. Phasellus id tellus quis nulla bibendum dignissim. Maecenas iaculis aliquam velit id tempus. Aenean porttitor viverra placerat. Duis vel lobortis sem.
    </p>
    <a class="m-about-content-link">Standalone Link 1</a>
    <a class="m-about-content-link">Standalone Link 2</a>
  </div>
  <!-- section container ends -->

  <div class="clear"></div>
  <!-- code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- section container starts --&gt;
  &lt;div class="m-about-content-inner"&gt;
    &lt;p&gt;
      Fusce porta tortor elit, adipiscing tempor mauris vulputate ac. Morbi dictum odio commodo laoreet mattis. Pellentesque tristique id dolor elementum posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    &lt;/p&gt;
    &lt;!-- list starts --&gt;
    &lt;ol class="m-about-content-list"&gt;
      &lt;li&gt;&lt;p&gt;Bullet 1&lt;/p&gt;&lt;/li&gt;
      &lt;li&gt;&lt;p&gt;Bullet 2&lt;/p&gt;&lt;/li&gt;
      &lt;li&gt;&lt;p&gt;Bullet 3&lt;/p&gt;&lt;/li&gt;
    &lt;/ol&gt;
    &lt;!-- list ends --&gt;
  &lt;/div&gt;
  &lt;!-- section container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
<!-- lists section ends -->
