<% @title="eSat Pattern Library - Media" %>
<% @desc="Specifications for all media types" %>

<%= render :partial=> "/pattern-library/colors/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "colors/index" %>
    <div class="divider top-margin"></div>
    <%= render "styles/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
