<div class="row row-spaced">
  <div class="col-12">
    <div class="clearfix section-title">
      <h2 class="pull-left">Image Management</h2>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

<div class="row row-spaced">
  <div class="col-12">
    Use this page to manage images on your website and upload more.
  </div>
</div>

<div class="row panel alert-panel hidden-alt">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text left-align">
        There already exists a folder with that name. Please choose another name.
      </div>
    </div>
  </div>
</div>

<div class="row row-spaced">
  <div class="col-12">
    <button type="button" id="new-btn" class="btn btn-submit pull-right"><i class="icon icon-add icon-lg"></i>Create Folder</button>
  </div>
</div>

<div class="row row-spaced">
  <div class="col-12">
    <table class="table alternate">
      <thead>
        <tr>
          <th class="col-10 left-align indented-l">Image Folder Name</th>
          <th class="col-1">Edit</th>
          <th class="col-1">Delete</th>
        </tr>
      </thead>
      <tbody id="image-folder-list"></tbody>
    </table>
  </div>
</div>
