<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right" class="m-help-home">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">eFlorist Self Administration Help</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row">
				<div class="col-6"><img src="http://placehold.it/330x190" class="fit-container"></div>
				<div class="col-6">
					Help page welcome message: what is included (list of main categories also hyperlinked to their section in help for quick reference), instructions/suggestions on how florists should use this page, the tools (help topics, quick start guides), and what they should do next. Should also reinforce our brand positioning as 'here to support you'
				</div>
			</div>

			<div class="row row-spaced">

				<div class="col-12">
					<div class="row">
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>Popular Topics</h1>
							<section>
								<ul>
									<li><a href="#">Email Management</a></li>
									<li><a href="#">Update Your Site's Look</a></li>
									<li><a href="#">Order Management</a></li>
								</ul>
							</section>
						</div>		
						</div>
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>General Questions</h1>
							<section>
								<ul>
									<li><a href="#">When will my site be live?</a></li>
									<li><a href="#">How often should I update my site?</a></li>
									<li><a href="#">How do I manage my site?</a></li>
								</ul>
							</section>
						</div>		
						</div>										
					</div>
					<div class="row">
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>Create or Edit Products</h1>
							<section>
								<ul>
									<li><a href="#">Upload a Product Photo</a></li>
									<li><a href="#">Create a New Product</a></li>
									<li><a href="#">Change Product Price or Description</a></li>
								</ul>
							</section>
						</div>		
						</div>	
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>Update Your Homepage</h1>
							<section>
								<ul>
									<li><a href="#">Merchandise Your Homepage</a></li>
									<li><a href="#">Create a Pop-Up Message</a></li>
									<li><a href="#">Change Your Marketing Banners</a></li>
								</ul>
							</section>
						</div>		
						</div>										
					</div>
					<div class="row">
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>Manage Orders</h1>
							<section>
								<ul>
									<li><a href="#">Search by Order Number</a></li>
									<li><a href="#">Search by Recipient</a></li>
									<li><a href="#">Search by Confirmation Number</a></li>
								</ul>
							</section>
						</div>		
						</div>		
						<div class="col-6">
						<div class="help-tile help-tile-1">
							<h1>Manage Delivery Settings</h1>
							<section>
								<ul>
									<li><a href="#">Change Cut-Off Times</a></li>
									<li><a href="#">Block Orders for Delivery</a></li>
									<li><a href="#">Add Additional Delivery Fees</a></li>
								</ul>
							</section>
						</div>		
						</div>										
					</div>					
				</div>

			</div>

			<div class="row row-spaced">
				<div class="col-4"></div>
				<div class="col-4">
					<div id="help-view-more"><div class="icon icon-add"></div>View More</div>
				</div>
				<div class="col-4"></div>
			</div>

			<div class="hidden-alt" id="help-more-content">

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Update Shop Information</h1>
							<section>
								<ul>
									<li><a href="#">Manage Days Closed</a></li>
									<li><a href="#">Update 'About Us' Section</a></li>
									<li><a href="#">Change Address or Contact Information</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Manage Categories</h1>
							<section>
								<ul>
									<li><a href="#">Create a Custom Layout</a></li>
									<li><a href="#">Change Category Layout</a></li>
									<li><a href="#">Hide a Category</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Manage Deal of the Day</h1>
							<section>
								<ul>
									<li><a href="#">Set Up Deal of the Day</a></li>
									<li><a href="#">Pick Your DoD Banner Style</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Manage Mobile Settings</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Marketing</h1>
							<section>
								<ul>
									<li><a href="#">Creating a Site-Wide Promotion</a></li>
									<li><a href="#">Setting Up Promo Offers</a></li>
									<li><a href="#">Marketing Banners</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Reporting</h1>
							<section>
								<ul>
									<li><a href="#">Track Promo Codes</a></li>
									<li><a href="#">Find My Top Products</a></li>
									<li><a href="#">View Site Traffic</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Social Media</h1>
							<section>
								<ul>
									<li><a href="#">Add Links to Your Site</a></li>
									<li><a href="#">Social Media Tips</a></li>
									<li><a href="#">Creating a Social Media Strategy</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Wedding</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Sympathy</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Creating Pop-Ups</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Customizing the Megamenu</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Holiday Management</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>												

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Yelp</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Search Optimizer</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Online Search Marketing</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>

				<div class="row row-spaced">
					<div class="col-4">
						<div class="help-tile help-tile-1">
							<h1>Floral App Settings</h1>
							<section>
								<ul>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
									<li><a href="#">XXX</a></li>
								</ul>
							</section>
						</div>							
					</div>
				</div>				

			</div>
		
		</div>		
	</div>