<section id="code-conventions" class="l-wrapper top-margin">
  <h2>Code Conventions</h2>
  <p>A list of project code conventions:</p>
  <br>
    <ul>
    <li>Spaces not tabs (2 spaces)</li>
    <li>Comment opening tags, closing tags, modules, and complex functionality</li>
    <li>Use universal naming conventions to allow for efficient and reusable code</li>
    <li>Relative paths</li>
    <li>Lists tags require a closing tag</li>
    <li>Use HTML5 doctype</li>
    <li>Load Javascript files at the end of the page</li>
    <li>Use RequireJS to load javascript resources as part of the Backbone architecture</li>
    </ul>
</section>
