<section id="global-icons" class="l-wrapper">
  <h2>Global Icons</h2>
  <p>Icons featured throughout the eSat website. View <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> for more details on all of the icons available.</p>

  <div class="top-margin">
    <div class="grid_1 d-grid_12">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-align-justify"></i>
        <div class="clear"></div>
        <p>Hamburger Button</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-user"></i>
        <div class="clear"></div>
        <p>User Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-shopping-cart"></i> 
        <div class="clear"></div>
        <p>Shopping Cart Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-pencil"></i>
        <div class="clear"></div>
        <p>Edit Icon</p>
      </div>
    </div>
    <div class="grid_1 d-grid_12 top-margin">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-envelope"></i>
        <div class="clear"></div>
        <p>Email Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-comments"></i>
        <div class="clear"></div>
        <p>Text Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-times-circle"></i>
        <div class="clear"></div>
        <p>Close Button</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-map-marker"></i>
        <div class="clear"></div>
        <p>Location Icon</p>
      </div>
    </div>
    <div class="grid_1 d-grid_12 top-margin">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-phone"></i>
        <div class="clear"></div>
        <p>Phone Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-arrow-circle-up"></i>
        <div class="clear"></div>
        <p>Arrow Up Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-arrow-circle-down"></i>
        <div class="clear"></div>
        <p>Arrow Down Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-check-circle"></i>
        <div class="clear"></div>
        <p>Check Icon</p>
      </div>
    </div>
    <div class="grid_1 d-grid_12 top-margin">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-wrench"></i> 
        <div class="clear"></div>
        <p>Wrench Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-refresh"></i> 
        <div class="clear"></div>
        <p>Refresh Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-exclamation-triangle"></i>
        <div class="clear"></div>
        <p>Warning Icon</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-minus-square"></i>
        <div class="clear"></div>
        <p>Minus Button</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;div class="top-margin"&gt;
    &lt;div class="grid_1 d-grid_12"&gt;
      &lt;div class="grid_1 d-grid_3"&gt;
        &lt;i class="fa fa-align-justify"&gt;&lt;/i&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;p&gt;Hamburger Button&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="grid_1 d-grid_3"&gt;
        &lt;i class="fa fa-user"&gt;&lt;/i&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;p&gt;User Icon&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="grid_1 d-grid_3"&gt;
        &lt;i class="fa fa-shopping-cart"&gt;&lt;/i&gt; 
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;p&gt;Shopping Cart Icon&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="grid_1 d-grid_3"&gt;
        &lt;i class="fa fa-pencil"&gt;&lt;/i&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;p&gt;Edit Icon&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="top-margin">
    <li class="m-navbar-item bottom-border float-left m-navbar-upcoming">
      <div class="m-navbar-cal float-left centered no-mobile">
        <span class="m-navbar-month horizonal-seperator float-left">Mar</span>
        <span class="m-navbar-day horizonal-seperator float-left">25</span>
      </div>
      <a class="m-navbar-link uppercase float-left position-relative" href="#">Passover</a>
    </li>
    <li class="m-navbar-item bottom-border float-left m-navbar-upcoming">
      <div class="m-navbar-cal float-left centered no-mobile">
        <span class="m-navbar-month horizonal-seperator float-left">Mar</span>
        <span class="m-navbar-day horizonal-seperator float-left">25</span>
      </div>
      <a class="m-navbar-link uppercase float-left position-relative" href="#">Easter</a>
    </li>
    <li class="m-navbar-item bottom-border float-left m-navbar-upcoming">
      <div class="m-navbar-cal float-left centered no-mobile">
        <span class="m-navbar-month horizonal-seperator float-left">Mar</span>
        <span class="m-navbar-day horizonal-seperator float-left">25</span>
      </div>
      <a class="m-navbar-link uppercase float-left position-relative" href="#">Administative Professionals Week</a>
    </li>
    <li class="m-navbar-item bottom-border float-left m-navbar-upcoming m-navbar-cal-birthday">
      <div class="m-navbar-cal float-left centered no-mobile">
        <span class="m-navbar-month horizonal-seperator float-left">Feb</span>
        <span class="m-navbar-day horizonal-seperator float-left">1</span>
      </div>
      <a class="m-navbar-link uppercase float-left position-relative" href="#">Benjamin's Birthday</a>
    </li>
    <li class="m-navbar-item bottom-border float-left m-navbar-upcoming m-navbar-cal-facebook">
      <div class="m-navbar-cal float-left centered no-mobile">
        <span class="m-navbar-month horizonal-seperator float-left">Feb</span>
        <span class="m-navbar-day horizonal-seperator float-left">1</span>
      </div>
      <a class="m-navbar-link uppercase float-left position-relative" href="#">Benjamin's Birthday</a>
    </li>
  </div>

  <div class="clear"></div>
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- calender icon section starts --&gt;
  &lt;li class="m-navbar-item bottom-border float-left m-navbar-upcoming"&gt;
    &lt;div class="m-navbar-cal float-left centered no-mobile"&gt;
      &lt;span class="m-navbar-month horizonal-seperator float-left"&gt;Mar&lt;/span&gt;
      &lt;span class="m-navbar-day horizonal-seperator float-left"&gt;25&lt;/span&gt;
    &lt;/div&gt;
    &lt;a class="m-navbar-link uppercase float-left position-relative" href="#"&gt;Passover&lt;/a&gt;
  &lt;/li&gt;
  &lt;!-- calender icon section ends --&gt;
 &lt;!-- calender icon section starts --&gt;
 &lt;li class="m-navbar-item bottom-border float-left m-navbar-upcoming"&gt;
   &lt;div class="m-navbar-cal float-left centered no-mobile"&gt;
     &lt;span class="m-navbar-month horizonal-seperator float-left"&gt;Mar&lt;/span&gt;
     &lt;span class="m-navbar-day horizonal-seperator float-left"&gt;25&lt;/span&gt;
   &lt;/div&gt;
   &lt;a class="m-navbar-link uppercase float-left position-relative" href="#"&gt;Easter&lt;/a&gt;
 &lt;/li&gt;
 &lt;!-- calender icon section ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="top-margin">
    <a href="javascript:void(0);" class="icon-social icon-pintrest"></a>
    <a href="javascript:void(0);" class="icon-social icon-facebook"></a>
    <a href="javascript:void(0);" class="icon-social icon-google"></a>
    <a href="javascript:void(0);" class="icon-social icon-twitter"></a>
    <a href="javascript:void(0);" class="icon-social icon-youtube"></a>
  </div>
  <div class="clear"></div>
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- social icons starts --&gt;
  &lt;a href="#" class="icon-social icon-pintrest"&gt;&lt;/a&gt;
  &lt;a href="#" class="icon-social icon-facebook"&gt;&lt;/a&gt;
  &lt;a href="#" class="icon-social icon-google"&gt;&lt;/a&gt;
  &lt;a href="#" class="icon-social icon-twitter"&gt;&lt;/a&gt;
  &lt;a href="#" class="icon-social icon-youtube"&gt;&lt;/a&gt;
  &lt;!-- social icons ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
