<section id="grid-sizes" class="l-wrapper">
  <h2>Grid Sizes</h2>
  <p>Our fluid <a href="http://grids.heroku.com/">Variable Grid System</a> is composed of a 12 column responsive grid layout. The system is based on the <a target="_tab" href="http://www.designinfluences.com/">960 Grid System</a>. This section illustrates Teleflora's grid sizes and syntax.</p>

  <!-- grid container starts -->
  <div class="container_4 d-container_12 m-grid-container-bg-primary c-grid-container-padding clearfix top-margin">
    <div class="grid_4 d-grid_12 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 1<br>98.0%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- grid container starts -->
  <div class=" container_4 d-container_12 m-grid-container-bg-primary top-margin c-grid-container-padding clearfix top-margin">
    <div class="grid_2 d-grid_6 m-grid-container-bg-secondary m-center-content">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 2<br>48.0%</p>
      </div>
    </div>
    <div class="grid_2 d-grid_6 m-grid-container-bg-secondary m-center-content">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 2<br>48.0%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- grid container starts -->
  <div class=" container_4 d-container_12 m-grid-container-bg-primary top-margin c-grid-container-padding no-mobile clearfix top-margin">
    <div class="grid_4 d-grid_4 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 3<br>31.333%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_4 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 3<br>31.333%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_4 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 3<br>31.333%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- grid container starts -->
  <div class=" container_4 d-container_12 m-grid-container-bg-primary top-margin c-grid-container-padding clearfix top-margin">
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4<br>23.0%</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4<br>23.0%</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4<br>23.0%</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4<br>23.0%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- grid container starts -->
  <div class=" container_4 d-container_12 m-grid-container-bg-primary top-margin c-grid-container-padding no-mobile clearfix top-margin">
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_2 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 6<br>14.667%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- grid container starts -->
  <div class=" container_4 d-container_12 m-grid-container-bg-primary top-margin c-grid-container-padding no-mobile clearfix">
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
    <div class="grid_4 d-grid_1 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 12<br>6.33%</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
  <!-- code demo starts -->
  <div class="m-code l-wrapper container_4 d-container_12 top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- grid container starts --&gt;
  &lt;div class="container_4 d-container_12"&gt;
    &lt;div class="grid-2 d-grid_6"&gt;
      Content...
    &lt;/div&gt;
    &lt;div class="grid-2 d-grid_6"&gt;
      Content...
    &lt;/div&gt;
  &lt;/div&gt;
 &lt;!-- grid container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->
</section>
<!-- grid-sizes ends -->
