<% @title="eSat Pattern Library - Iconography" %>
<% @desc="Comprehensive overview of eSat's iconography and systematics." %>

<%= render :partial=> "/pattern-library/iconography/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "global-icons/index" %>
    <div class="divider top-margin"></div>
    <%= render "interactive-states/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
