<section id="headings" class="l-wrapper">
    <h2>Headings</h2>
    <p>Both heading and paragraph text can be modified in various ways by using predisposed typography classes. These classes can be found in the typography, mixins, and helper sass files. Below are a few examples of these classes:</p>
    <br>
    <li><p>.sans-serif - changes the typeface to Avenir</p></li>
    <li><p>.uppercase - make the font uppercase</p></li>
    <li><p>.border-bottom - adds a 1px grey border bottom</p></li>

  <!-- h1 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h1 class="no-border">Heading 1</h1>
      <p>2.15em</p>
    </div>
    <div class="container_4 d-grid_3" style="margin-right: 3%;">
      <h1 class="no-border">Font Family</h1>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h1 class="no-border">Notes</h1>
      <p>Used for large headlines, homepage features, and unique product pages.</p>
    </div>
  </div>
  <!-- h1 container ends -->
  <div class="clear"></div>
  <!-- h1 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h1 container starts --&gt;
  &lt;div class="container_4 d-grid_3"&gt;
    &lt;h1 class="no-border"&gt;Heading 1&lt;/h1&gt;
    &lt;p&gt;2.15em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h1 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h1 code demo ends -->

  <!-- h2 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h2>Heading 2</h2>
      <p>1.846em</p>
    </div>
    <div class="container_4 d-grid_3">
      <h2 class="no-border">Font Family</h2>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h2 class="no-border">Notes</h2>
      <p>Used for section and module titles.</p>
    </div>
  </div>
  <!-- h2 container ends -->
  <div class="clear"></div>
  <!-- h2 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h2 container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;h2&gt;Heading 2&lt;/h2&gt;
    &lt;p&gt;1.846em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h2 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h2 code demo ends -->
  <!-- h3 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h3>Heading 3</h3>
      <p>1.30769em</p>
    </div>
    <div class="container_4 d-grid_3">
      <h3 class="no-border">Font Family</h3>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h3 class="no-border">Notes</h3>
      <p>N/A</p>
    </div>
  </div>
  <!-- h3 container ends -->
  <div class="clear"></div>
  <!-- h3 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h3 container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;h3&gt;Heading 3&lt;/h3&gt;
    &lt;p&gt;1.30769em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h3 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h3 code demo ends -->
  <!-- h4 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h4>Heading 4</h4>
      <p>1.154em</p>
    </div>
    <div class="container_4 d-grid_3">
      <h4 class="no-border">Font Family</h4>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h4 class="no-border">Notes</h4>
      <p>N/A</p>
    </div>
  </div>
  <!-- h4 container ends -->
  <div class="clear"></div>
  <!-- h4 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h4 container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;h4&gt;Heading 4&lt;/h4&gt;
    &lt;p&gt;1.154em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h4 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h4 code demo ends -->
  <!-- h5 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h5>Heading 5</h5>
      <p>1em</p>
    </div>
    <div class="container_4 d-grid_3">
      <h5 class="no-border">Font Family</h5>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h5 class="no-border">Notes</h5>
      <p>Medium bold titles</p>
    </div>
  </div>
  <!-- h5 container ends -->
  <div class="clear"></div>
  <!-- h5 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h5 container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;h5&gt;Heading 5&lt;/h5&gt;
    &lt;p&gt;1.154em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h5 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h5 code demo ends -->
  <!-- h6 container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <h6>Heading 6</h6>
      <p>1em</p>
    </div>
    <div class="container_4 d-grid_3">
      <h6 class="no-border">Font Family</h6>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <h6 class="no-border">Notes</h6>
      <p>Small copy notes.</p>
    </div>
  </div>
  <!-- h6 container ends -->
  <div class="clear"></div>
  <!-- h6 code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- h6 container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;h6&gt;Heading 1&lt;/h6&gt;
    &lt;p&gt;1em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- h6 container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- h6 code demo ends -->
</section>
<!-- headings section ends -->
