<form id="create-edit-301-Alternate-form" name="create-edit-301-Alternate-form" class="form-section"> 
    <div class="row row-spaced panel x-space-s">
        <div class="row row-spaced">
            <div class="col-12">
                <div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
                <button type="button" id="save-btn" class="btn btn-submit btn-panel pull-right"> Save</button>
                <% if(id) { %>  <button type="button" id="delete-btn" class="btn btn-cancel btn-panel pull-right ">Delete</button> <% } %>

                <button type="button" id="cancel-btn" class="btn btn-other btn-panel pull-right">Cancel</button>

                <div class="panel-title y-space-top-l"><%= id ? "Edit " : "Add New " %> Alternate URL</div>
            </div>
        </div>
        <!-- Hidden Alert Message -->
        <div class="row panel alert-panel">
            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <div class="icon icon-3x icon-warning"></div>
                    </div>
                    <div class="col-11 alert-text">
                        This is a generic placeholder for error messages in eSAT. <br>
                        In the live app, this will be a real message and will be hidden by default.
                    </div>
                </div>
            </div>
        </div>
        <!-- Hidden Alert Message -->
        <div class="row row-spaced y-space-s"> 
            <div class="col-12 form-section">
                <label for="f-alternate-url"> Alternate URL (301 Permanent Redirect)</label><i title="Enter the alternate URL here. Make sure that your URL is properly configured at the registrar level first." class="icon icon-tool-tip x-space-s"></i>
                <input type="text" id="f-alternate-url" name="f-alternate-url" value="<%= alternateUrl %>"/>
            </div>
        </div>
    </div>
</form>
