<div class="row">
	<div class="col-12 form-section">
		 
		  <div class="col-3 form-section">
		    <label for="f-width"><%= skuLabel %> Width</label><i class="icon icon-tool-tip x-space-s" title="This is the approximate width of the product once it has been created."></i>
		    <input type="text" id="f-width" name="f-width" value="<%= width %>">
		  </div>
		 
		  <div class="col-3 form-section">
		    <label for="f-height"><%= skuLabel %> Height</label><i class="icon icon-tool-tip x-space-s" title="This is the approximate height of the product once it has been created."></i>
		    <input type="text" id="f-height" name="f-height" value="<%= height %>">
		  </div>
		
		</div>

  </div>