<section id="links" class="l-wrapper top-margin">
    <h2>Links</h2>
    <p>All links and/or CTAs's are pink to indicate that they are active areas.</p>

  <!-- links container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <a href="javascript:void(0);" class="cta">Call to Action</a>
      <p>1em</p>
    </div>
    <div class="container_4 d-grid_3">
      <a href="#" class="cta">Font Family</a>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <a href="#" class="cta">Notes</a>
      <p>NA</p>
    </div>
  </div>
  <!-- links container ends -->
  <div class="clear"></div>
  <!-- links code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- cta container starts --&gt;
  &lt;div class="d-container_12 d-grid_3"&gt;
    &lt;a href="#" class="cta"&gt;Call to Action&lt;/a&gt;
    &lt;p&gt;1em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- cta container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- links code demo ends -->
</section>
<!-- links section ends -->
