<section id="styles" class="l-wrapper">
  <h2>Styles</h2>
  <p>The following provides a short list of guidelines to stick by when building a new page for eSat.</p>
  <br/>
  <p>Rules:</p>
  <ul>
    <li>Use the Cantarell font where possible. On smaller font sizes (less than 12pt) arial will work.</li>
    <li>Always look on the bright side of life.</li>
  </ul>

</section>
