<section id="directory-navigation" class="l-wrapper top-margin">
  <h2>Directory Navigation</h2>
  <p>The directory navigation provides overview while at the same time showing the structure of the items.</p>

  <div class="grid_4 d-grid_12 top-margin">
    <div class="container_4 d-container_12 clearfix">
      <div class="grid_2 d-grid_3 d-alpha">
        <h5>Section Header</h5>
        <ul class="link-list">
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
        </ul>
      </div>
      <div class="grid_2 d-grid_3">
        <h5>Section Header</h5>
        <ul class="link-list">
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
        </ul>
      </div>
      <div class="clear no-desktop"></div>
      <div class="grid_2 d-grid_3">
        <h5>Section Header</h5>
        <ul class="link-list">
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
        </ul>
      </div>
      <div class="grid_2 d-grid_3 d-omega">
        <h5>Section Header</h5>
        <ul class="link-list">
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
          <li><a href="javascript:void(0);">Section Link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;div class="grid_4 d-grid_12 top-margin"&gt;
    &lt;div class="container_4 d-container_12 clearfix"&gt;
      &lt;div class="grid_2 d-grid_3 d-alpha"&gt;
        &lt;h5&gt;Section Header&lt;/h5&gt;
        &lt;ul class="link-list"&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div class="clear no-desktop"&gt;&lt;/div&gt;
      &lt;div class="grid_2 d-grid_3"&gt;
        &lt;h5&gt;Section Header&lt;/h5&gt;
        &lt;ul class="link-list"&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Section Link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section><!-- #header -->
