<div class="row row-spaced panel form-section">
	<div class="row">
		<div class="col-12">
			<div class="panel-title"><%= title %></div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			<button type="button" id="add-btn" class="btn btn-submit pull-right"><i class="icon icon-add icon-lg"></i> New Occasion</button>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			<table class="table alternate">
				<thead>
					<tr id="sort-header">
						<th class="col-4 left-align indented-l">Occasion <button type="button" data-attribute="occasion" class="icon icon-btn icon-sort sort-btn"></button></th>
						<th class="col-2">Start Date <button type="button" data-attribute="startDate" class="icon icon-btn icon-sort sort-btn"></button></th>
                        
						<th class="col-2">End Date <button type="button" data-attribute="endDate" class="icon icon-btn icon-sort sort-btn"></button></th>
                    <!-- RE-EDIT   <th class="col-2">Start Time <button type="button" data-attribute="startTime" class="icon icon-btn icon-sort sort-btn"></button> </th>
                        <th class="col-2">End Time <button type="button" data-attribute="endTime" class="icon icon-btn icon-sort sort-btn"></button> </th>
-->
						<th class="col-2">Edit</th>
						<th class="col-2">Delete</th>
					</tr>
				</thead>
				<tbody id="occasion-list"></tbody>
			</table>
		</div>
	</div>
</div>