<% @title="eSat Pattern Library - Banners & Modules" %>
<% @desc="Patterns of various eSat promoted content." %>

<%= render :partial=> "/pattern-library/banners-modules/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "featured-items/index" %>
    <div class="divider top-margin"></div>
    <%= render "ad-modules/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
