<form id="merchandisingIconsHome-form" name="merchandisingIconsHome-form">
	<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Merchandising Icons</h2>
			<div class="btn-panel">
                <button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
				<button type="button" id="save-btn" class="btn btn-submit">Save</button>
				<div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
				<button type="button" id="new-icon-btn" class="btn btn-submit"><i class="icon icon-add icon-lg"></i>NEW ICON</button>
			</div>
		</div>
	</div>
</div>

<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->
<div class="row row-spaced">
	<div class="col-12">
		You can use this section to modify your existing Merchandising Icons or create new ones. Merchandising Icons are small icon graphics that appear underneath product images that you can use to further market your products.
	</div>
</div>

<div class="row row-spaced form-section"> 
	<div class="col-12">
		<table id="Merchandising-IconsTable"class="table alternate">
			<thead>
				<tr>
					<th class="col-2 left-align">Icon Name</th>
					<th class="col-2 left-align">Display Name</th>
					<th class="col-2 left-align">Image</th>
					<th class="col-2 left-align">Type</th>
					<th class="col-2 left-align">Active</th>
					<th class="col-1 left-align">Edit</th>
					<th class="col-1 left-align">Delete</th>
				</tr>
			</thead>
			<tbody id="MerchandisingIcons-List"></tbody>
		</table>
	</div>		
</div>

</form>