<section id="breadcrumbs" class="l-wrapper top-margin">
  <h2>Breadcrumbs</h2>
  <p>Breadcrumb navigation are list like links of various sections.</p>
  <!-- breadcrumbs section starts -->
  <div class="m-breadcrumbs top-margin">
    <a href="javascript:void(0);" class="breadcrumbs-link">Section Link 1</a> &gt;
    <a href="javascript:void(0);" class="breadcrumbs-link">Section Link 2</a>
    &gt;
    <a href="javascript:void(0);" class="breadcrumbs-link">Section Link 3</a>
  </div>
  <!-- breadcrumbs section ends -->
  <!-- code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- breadcrumbs section starts --&gt;
  &lt;div class="m-breadcrumbs"&gt;
    &lt;a href="#" class="breadcrumbs-link"&gt;Section Link 1&lt;/a&gt; &gt;
    &lt;a href="#" class="breadcrumbs-link"&gt;Section Link 2&lt;/a&gt; &gt;
    &lt;a href="#" class="breadcrumbs-link"&gt;Section Link 3&lt;/a&gt;
  &lt;/div&gt;
  &lt;!-- breadcrumbs section ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->

</section>
<!-- breadcrumbs ends -->
