<tr>
	<td class="left-align indented-s"><%= serviceType %></td>
	<td><%= standardDeliveryFee %></td>
	<td class="left-align"><%= checkoutText %></td>
	<td><button type="button" class="icon icon-btn icon-2x icon-edit"></button></td>
	<td class="hide-overflow">
		<div class="centered-content-container">
			<input <%= active ? 'checked' : ''%> type="checkbox" class="on-off-switch" id="<%= serviceType %>" name="<%= serviceType %>"/>
	        <label for="<%= serviceType %>" class="on-off-switch-label">
	            <div class="on-off-switch-state">on</div>
	        </label>
        </div>
	</td>
	<td><button type="button" class="icon icon-btn icon-2x icon-trash"></button> </td>
</tr>
