<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Online Search Marketing Stats</h2>
		</div>
	</div>
</div>

<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

<div class="row row-spaced">
	<div class="col-12">
		This section provides statistics on how your online search marketing program is performing.
	</div>
</div>

<div id="osm-tabs">
    <div id="osm-tabs-1" class="osm-tab">
    	<div class="osm-header">Stats Report</div>
                                        
        <!-- The contents of following div will be replaced by the report once loaded -->
        <div id="balihoochart">Please wait, we're searching for your report...</div>
    </div>


    <div id="osm-tabs-2" class="osm-tab">
    	<div class="osm-header">Call Tracking</div>
     
        <!-- The contents of following div will be replaced by the report once loaded -->
        <div id="balihoocalltracking" class="balihoochart hidden">Loading Call Tracking Report...</div>
        
    </div>
</div>