<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">Update Site Theme and Template</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row row-spaced">
				<div class="col-12">
					Your eFlorist website comes with an array of visuals to help enhance the overall shopping experience. We've designed stunning options for backgrounds, color schemes, templates and more -- all of which empower you to create the digital storefront that perfectly suits your needs.  
				</div>
			</div>
			<div class="row row-spaced">
				<div class="col-12">
					Go to <span class="heavy">More</span> and click <span class="heavy">Site Theme</span>.
				</div>
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Under <span class="heavy">Theme Selection</span>, click the <span class="heavy">Back</span> button.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-1/assets/screen1.jpg">
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Use the scroll bar to view all of the <span class="heavy">Layout Options</span> available to you.
				</div>
			</div>		
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-1/assets/screen2.jpg">
			</div>		
			<div class="row row-spaced">
				<div class="col-12">
					Click on your favorite theme. Once you've clicked, you can select from available color options for that theme.
				</div>
			</div>				
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-1/assets/screen3.jpg">
			</div>		
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Save Changes</span> button at the top right-hand side of the page.
				</div>
			</div>										
		</div>		
	</div>


