<div class="col-5">
	<div class="row">
		<div class="col-12">
			<h3 class="title pull-left">Current <%= type %> Layout</h3>
			<i title="
				<%= type === 'Email' ? 'This is the way your emails look when they are sent out. If you aren\'t sure about this layout, you can select a different on the right.' : ''%>
				<%= type === 'Homepage' ? 'Use this to choose which layout you want to use. You can see the different options below.' : ''%>
				" class="icon icon-tool-tip x-space-s">
			</i>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="display-container"></div>
		</div>
	</div>
</div>

<div class="col-7">
	<h3 class="title">Layout Options</h3>

	<div class="row">
		<div class="col-12">
			<div id="layout-container" class="grid-3-closed scroll-container"></div>
		</div>
	</div>
</div>