<section id="forms" class="l-wrapper">
  <h2>Forms</h2>
  <p>Although syntactical some of the forms are not tables, Teleflora forms employ the visual structure commonly associated with tables.</p>

  <table class="table m-order-history-table top-margin">
    <thead class="table-head table-head-esat">
      <tr class="table-row">
        <th class="table-header esat-first-cell">category name</th>
        <th class="table-header-alt hide-after-tablet m-order-history-table-order-header">edit</th>
        <th class="table-header-alt">view</th>
        <th class="table-header-alt">delete</th>
      </tr>
    </thead>

    <tbody class="table-body">
      <tr class="table-row">
        <td class="table-data-alt table-data-bottom-border esat-first-cell">Birthday</td>
        <td class="table-data-alt table-data-bottom-border"><a href="#"><i class="fa fa-pencil"></a></i></td>
        <td class="table-data-alt2 table-data-bottom-border"><a href="#"><i class="fa fa-search"></a></i></td>
        <td class="table-data-alt table-data-bottom-border"><a href="#"><i class="fa fa-trash-o"></a></i></td>
      </tr>

      <tr class="table-row">
        <td class="table-data-alt table-data-bottom-border esat-first-cell">Mother's Day</td>
        <td class="table-data-alt table-data-bottom-border"><a href="#"><i class="fa fa-pencil"></a></i></td>
        <td class="table-data-alt2 table-data-bottom-border"><a href="#"><i class="fa fa-search"></a></i></td>
        <td class="table-data-alt table-data-bottom-border"><a href="#"><i class="fa fa-trash-o"></a></i></td>
      </tr>

    </tbody>
  </table>

  <div class="clear"></div>
  <!-- code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- table starts --&gt;
  &lt;table class="table m-order-history-table top-margin"&gt;
    &lt;thead class="table-head table-head-esat"&gt;
      &lt;tr class="table-row"&gt;
        &lt;th class="table-header esat-first-cell"&gt;category name&lt;/th&gt;
        &lt;th class="table-header-alt hide-after-tablet m-order-history-table-order-header"&gt;edit&lt;/th&gt;
        &lt;th class="table-header-alt"&gt;view&lt;/th&gt;
        &lt;th class="table-header-alt"&gt;delete&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;

    &lt;tbody class="table-body"&gt;
      &lt;tr class="table-row"&gt;
        &lt;td class="table-data-alt table-data-bottom-border esat-first-cell"&gt;Birthday&lt;/td&gt;
        &lt;td class="table-data-alt table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-pencil"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td class="table-data-alt2 table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-search"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td class="table-data-alt table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-trash-o"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
      &lt;/tr&gt;

      &lt;tr class="table-row"&gt;
        &lt;td class="table-data-alt table-data-bottom-border esat-first-cell"&gt;Mother's Day&lt;/td&gt;
        &lt;td class="table-data-alt table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-pencil"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td class="table-data-alt2 table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-search"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td class="table-data-alt table-data-bottom-border"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-trash-o"&gt;&lt;/a&gt;&lt;/i&gt;&lt;/td&gt;
      &lt;/tr&gt;

    &lt;/tbody&gt;
  &lt;/table&gt;
  &lt;!-- table ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- content box starts -->
  <div class="m-delivery-info-item top-margin">

      <!-- content box header starts -->
      <div class="m-shopping-cart-item-header">
        <div class="m-shopping-cart-item-header-content ">
          <div class="container_4">
            <span class="m-shopping-cart-item-header-number">
              <span class="itemTitleCopy no-mobile" id="itemTitleCopy-1">
                Hello user!
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- content box header ends -->

      <!-- content text starts -->
      <div class="l-wrapper container_4">
          <!-- image and price container starts -->
          <div class="m-delivery-info-price-summary l-content l-content-clear-margin-bottom clearfix">
            <!-- text container starts -->
            <div class="esat_content_box_text grid_12 d-grid_12 fluid">
                Aliquam commodo leo odio, ut suscipit nibh suscipit ac. Vestibulum nec sodales quam, eu auctor risus. Duis libero nulla, sodales non orci sit amet, viverra hendrerit mauris. Duis vitae tortor nulla. Nunc id dapibus libero, eu semper sem. Phasellus luctus massa a magna pharetra, nec sagittis lectus pharetra. Phasellus nec adipiscing eros. Donec ut viverra velit. Praesent lacus tellus, mattis in erat ut, molestie iaculis urna. Integer pharetra semper dui vitae ultrices. Sed consectetur et libero nec volutpat. In hac habitasse platea dictumst.
            </div>
            <!-- text container ends -->
            <!-- button container starts -->
            <div class="esat_content_box_btn grid_12 d-grid_12 fluid">
                <input type="submit" class="btn btn-orange" value="Input Submit"/>
            </div>
            <!-- text container ends -->
          </div>
          <!-- image and price ends -->
      </div>
      <!-- content text ends -->
  </div>
  <!-- content box ends -->

  <div class="clear"></div>
  <!-- code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- content box starts --&gt;
  &lt;div class="m-delivery-info-item top-margin"&gt;

      &lt;!-- content box header starts --&gt;
      &lt;div class="m-shopping-cart-item-header"&gt;
        &lt;div class="m-shopping-cart-item-header-content "&gt;
          &lt;div class="container_4"&gt;
            &lt;span class="m-shopping-cart-item-header-number"&gt;
              &lt;span class="itemTitleCopy no-mobile" id="itemTitleCopy-1"&gt;
                Hello user!
              &lt;/span&gt;
            &lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;!-- content box header ends --&gt;

      &lt;!-- content text starts --&gt;
      &lt;div class="l-wrapper container_4"&gt;
          &lt;!-- image and price container starts --&gt;
          &lt;div class="m-delivery-info-price-summary l-content l-content-clear-margin-bottom clearfix"&gt;
            &lt;!-- text container starts --&gt;
            &lt;div class="esat_content_box_text grid_12 d-grid_12 fluid"&gt;
                Aliquam commodo leo odio, ut suscipit nibh suscipit ac. Vestibulum nec sodales quam, eu auctor risus. Duis libero nulla, sodales non orci sit amet, viverra hendrerit mauris. Duis vitae tortor nulla. Nunc id dapibus libero, eu semper sem. Phasellus luctus massa a magna pharetra, nec sagittis lectus pharetra. Phasellus nec adipiscing eros. Donec ut viverra velit. Praesent lacus tellus, mattis in erat ut, molestie iaculis urna. Integer pharetra semper dui vitae ultrices. Sed consectetur et libero nec volutpat. In hac habitasse platea dictumst.
            &lt;/div&gt;
            &lt;!-- text container ends --&gt;
            &lt;!-- button container starts --&gt;
            &lt;div class="esat_content_box_btn grid_12 d-grid_12 fluid"&gt;
                &lt;input type="submit" class="btn btn-orange" value="Input Submit"/&gt;
            &lt;/div&gt;
            &lt;!-- text container ends --&gt;
          &lt;/div&gt;
          &lt;!-- image and price ends --&gt;
      &lt;/div&gt;
      &lt;!-- content text ends --&gt;
  &lt;/div&gt;
  &lt;!-- content box ends --&gt;
              </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
<!-- forms section ends -->
