<div class="col-12">

	<div class="row row-spaced">
		<div class="col-6 form-section">
			<div class="label">Upcoming Occasions Label <i class="icon icon-tool-tip x-space-s" title=""></i></div>
			<input type="text" name="f-price-range-label" id="f-price-range-label" value="<%= contentLabel %>">
		</div>
	</div>

	<div class="row row-spaced form-section">
		<div class="col-7 label y-space-top-l">Upcoming Occasions for the Next 3 Months</div>
		<div class="col-5">
			<button type="button" class="pull-right btn btn-submit btn-add" id="add-occasion-btn">
				<div class="icon icon-add icon-lg"></div>Add Occasion
			</button>
		</div>
	</div>


      	<div class="row row-spaced"> 
		  <div class="col-12 y-space-top-l">
				<table class="table alternate">
					<thead>
						<tr>
							<th class="col-3 left-align">Occasion Name</th>
							<th class="col-4 left-align">Link Path</th>
							<th class="col-2 center-align">Date</th>
							<th class="col-2 center-align">Status</th>
							<th class="col-1 center-align">Edit</th>
						</tr>
					</thead>
				
					<tbody id="upcomingOccasionsList" class="ui-sortable">
					

					
					</tbody>
				
				</table>

		  </div>

		</div>	
	
</div>


	<div id="upcoming-modal" style="width: 50%!important;">

		
	</div>


