.m-rewards-sign-up-content-container {
  border-bottom: 1px solid $accent-grey;
  padding-bottom: 1em;

  .m-rewards-sign-up-content-copy {
    margin-bottom: 1em;
  }

  .m-rewards-sign-up-list-container {
    padding-left: 1.5em;

    .m-rewards-sign-up-list-item {
      padding-left: 1em;
      padding-bottom: 0.5em;
    }
  }
}

.m-rewards-sign-up-button {
  margin-top: 2em;
}

.m-account-subheader {
  &.m-rewards-subheader-mobile {
    background-image: url(../images/rewards_header.jpg);
    background-size: cover;
    color: $white;
    padding-top: 1.2em;
    padding-bottom: 1.3em;

    .m-rewards-logo-signup-white-mobile {
      margin: 0 auto;
      float: none;
      display: block;
      background-image: url("../images/rewards/rewards_title_white.svg");
      background-position: 0px 0px;
      background-size: 100%;
      height: 1.5em;
      width: 10em;
    }
  }
}

.m-account-subheader-container {
  height: 13em;
  background-image: url(../images/rewards_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% center;
  margin-bottom: 1.5em;

  @include desktop() {
    background-position: center center;
  }

  .m-rewards-subheader {
    padding: 2em 0 0;
    text-align: center;
    color: $white;

    .m-rewards-logo-signup-white {
      width: 12.2em;
      height: 1.45em;
      margin-top: 0.5em;
      float: none;
      display: inline-block;
      background-image: url("../images/rewards/rewards_title_white.svg");
      background-position: -18px -11px;
    }
  }
}

.no-svg {
  .m-rewards-logo-signup-white, .m-rewards-logo-signup-white-mobile {
    background-image: url("../images/rewards/rewards_title_white.png") !important;
  }
}

.oldie {
  .m-rewards-logo-signup-white {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/rewards/rewards_title_white.png', sizingMethod='scale');
    background: none !important;
  }
}
