// m-tooltip

.m-tooltip {
  $font-size: 15px;
  $width: em(240px, $font-size);
  $border: 1px solid $accent-grey !important;

  color: $black;
  font-family: $serif-stack;
  font-size: $font-size;
  line-height: em(19px, $font-size);

  text-indent: 0;
  text-transform: none;
  cursor: default;

  display: block;
  z-index: 99;
  position: absolute;
  left: 20px;
  top: 100%;

  margin-top: 1em;
  padding: $padding-medium $padding-large;

  margin-left: -$width + 2.5;
  margin-right: -20px;

  background: white;
  border: $border;
  border-radius: $border-radius;

  // pointer
  $pointer-width: 22px;
  $pointer-height: 11px;

  @include desktop(){
    width: $width;
    left: 50%;
    margin-left: -$width/2;
    margin-right: 0;
  }

  // pointer border
  &:before {
    content: " ";
    display: block;
    z-index: 1;

    @include border-triangle( $pointer-width, $pointer-height, $accent-grey, up );

    position: absolute;
    top: -$pointer-height;
    left: 88%;
    margin-left: -$pointer-width/2;
    @include desktop() {
      left: 50%;
    }
  }

  // pointer fill
  &:after {
    $pointer-width: $pointer-width - 2px;
    $pointer-height: $pointer-height - 1px;

    content: " ";
    display: block;
    z-index: 2;

    @include border-triangle( $pointer-width, $pointer-height, white, up );

    position: absolute;
    top: -$pointer-height;
    left: 88%;
    margin-left: -$pointer-width/2;
    @include desktop() {
      left: 50%;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.m-form-demo-tooltip {
  $font-size: 15px;
  $width: em(240px, $font-size);
  $border: 1px solid $accent-grey;

  color: $black;
  font-family: $serif-stack;
  font-size: $font-size;
  line-height: em(19px, $font-size);

  text-indent: 0;
  text-transform: none;
  cursor: default;

  display: block;
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 100%;

  margin-top: 0.4em;
  padding: $padding-medium $padding-large;

  width: $width;
  margin-left: -15em;

  background: white;
  border: $border;
  border-radius: $border-radius;

  // pointer
  $pointer-width: 22px;
  $pointer-height: 11px;

  // pointer border
  &:before {
    content: " ";
    display: block;
    z-index: 1;

    @include border-triangle( $pointer-width, $pointer-height, $accent-grey, up );

    position: absolute;
    top: -$pointer-height;
    left: 94%;
    margin-left: -$pointer-width/2;
  }

  // pointer fill
  &:after {
    $pointer-width: $pointer-width - 2px;
    $pointer-height: $pointer-height - 1px;

    content: " ";
    display: block;
    z-index: 2;

    @include border-triangle( $pointer-width, $pointer-height, white, up );

    position: absolute;
    top: -$pointer-height;
    left: 94%;
    margin-left: -$pointer-width/2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.m-pdp-tooltip-ratings {
  $font-size: 15px;
  $width: 13.9em;
  $border: 1px solid #e5e5e5;

  color: $black;
  font-family: $serif-stack;
  font-size: $font-size;
  line-height: em(19px, $font-size);

  text-indent: 0;
  text-transform: none;
  cursor: default;

  display: block;
  z-index: 99;

  width: $width;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.m-pdp-tooltip {

  display: none;
  left: 0px;
  top: 0px;


  $font-size: 15px;
  $width: em(240px, $font-size);
  $border: 1px solid #e5e5e5;

  color: $black;
  font-family: $serif-stack;
  font-size: $font-size;
  line-height: em(19px, $font-size);

  position: absolute;
  text-indent: 0;
  text-transform: none;
  cursor: default;

  z-index: 99;
  margin-top: 1em;
  padding: $padding-medium $padding-large;

  width: $width;
  margin-left: -$width/2;

  background: white;
  border: $border;
  border-radius: $border-radius;

  // pointer
  $pointer-width: 22px;
  $pointer-height: 11px;

  // pointer border
  &:before {
    content: " ";
    display: block;
    z-index: 1;

    @include border-triangle( $pointer-width, $pointer-height, #e5e5e5, down );

    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$pointer-width/2;
  }

  // pointer fill
  &:after {
    $pointer-width: $pointer-width - 2px;
    $pointer-height: $pointer-height - 1px;

    content: " ";
    display: block;
    z-index: 2;

    @include border-triangle( $pointer-width, $pointer-height, white, down );

    position: absolute;
    top: 100%;//$pointer-height;
    left: 50%;
    margin-left: -$pointer-width/2;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.m-pdp-tooltip-stars {
  $font-size: 15px;
  $width: 16em;
  $border: 1px solid #e5e5e5;

  color: $black;
  font-family: $serif-stack;
  font-size: $font-size;
  line-height: em(19px, $font-size);

  text-indent: 0;
  text-transform: none;
  cursor: default;

  display: block;
  z-index: 99;

  width: $width;

}

