.l-content {
    margin-top: em(13px) !important;
    margin-bottom: 5em;
}

.l-content-narrow {
    max-width: em(477px) !important;
}

.l-content-medium {
    max-width: em(745px) !important;
}

.l-content-wide {
    max-width: em(940px) !important;
}

.l-content-homepage {
  margin-bottom: 5em;
}

.l-content-login {
    text-align: center;
    max-width: em(610px) !important;
    padding-right: 4em;
}

.l-content-password {
    text-align: left !important;
    max-width: em(790px) !important;
}

.l-content-category-left {
    margin-left: -0.0em !important;
    margin-right: -0.2em;
    max-width: em(790px) !important;
    padding-left: 0em;
    text-align: left;
}

.l-content-category-right {
    padding-left: 1em;
    text-align: center;
    max-width: em(695.6px) !important;
}

.l-content-pdp {
    max-width: em(960px) !important;
}

.l-content-pdp-flowers {
    width: 100%;
}

.l-content-full-width {
    max-width: em(960px) !important;
}

.l-content-shopping-cart {
    max-width: em(960px) !important;
}

.l-content-florist-selection {
    max-width: em(960px) !important;
}

.l-content-rewards {
    margin-top: em(25px) !important;
}

.l-content-sizes {
    max-width: em(280px) !important;
}