<% @title="eSat Pattern Library - Typography" %>
<% @desc="The eSat typographical system is built on a 13px base size." %>

<%= render :partial=> "/pattern-library/typography/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "headings/index" %>
    <div class="divider top-margin"></div>
    <%= render "paragraphs/index" %>
    <div class="divider top-margin"></div>
    <%= render "links/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
