<section id="project-description" class="l-wrapper">
  <h2>Project Description</h2>
  <p>
	eSAT is designed to be a modular application that allows users to quickly make updates to eFlorist sites. eSAT was designed with the following principles at its foundation:
  </p>

<ol>
	<li>
		<b>Scalable</b> – The system will continue to grow and evolve throughout the lifecycle and the architecture should allow for growth 
	</li>
	<li>
		<b>Flexible</b> – Modules and functionality should be able to be used in a variety of ways on the site, allowing for quick navigation and alternate treatments based on user profiles.
	</li>
	<li>
		<b>Fast</b> – eSAT needs to allow for a variety of users to quickly make changes to a site. Page design and functionality should focus on efficiency and ease of use.
	</li>
</ol>

<p>
With these principles in mind eSAT was built using BackboneJS as the framework. By using the Backbone framework, we are able to build eSAT in a modular format allowing for pieces to be created or removed from the users experience without reloading the entire page. Additionally, by using this structure for our application users will see an increase in their performance allowing for changes to be made easier and faster.
</p>

<p>
In addition to Backbone, eSAT will make use of SASS for a CSS preprocessor. We also leverage Compass to compile the final CSS file for the prototype. 
</p>

<p>
The purpose of this guide is to provide additional information on the architecture of eSAT, as well as the code and styling practices that were used in its creation.  This guide will serve as a visual repository and lexicon for code syntax.
</p>
 
</section>
<!-- project-description section ends -->
