<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">Change Homepage Layout</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row row-spaced">
				<div class="col-12">
					When you first signed up for eFlorist, you selected a homepage layout from a list of available options. Luckily, you're not limited to that template. You can adjust both the layout and number of items featured on your homepage at any time.
				</div>
			</div>
			<div class="row row-spaced">
				<div class="col-12">
					Go to <span class="heavy">Merchandising</span>, then <span class="heavy">Homepage Settings</span>.
				</div>
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					On the right-hand side, you'll see previews for all homepage layouts available to you.
				</div>
			</div>	
			<div class="row row-spaced">
				<div class="col-12">
					Click to see them slightly enlarged.
				</div>
			</div>				
			<div class="row row-spaced">
				<div class="col-12">
					Select the homepage layout you want to use.
				</div>
			</div>		
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-2/assets/screen1.jpg">
			</div>				

			<div class="row row-spaced">
				<div class="col-12">
					Review the <span class="heavy">Featured Item Count</span> section underneath the <span class="heavy">Current Homepage Layout</span> preview. Each layout has a different number of components and featured products.
				</div>
			</div>				
			<div class="row row-spaced">
				<div class="col-12">
					When you select one, the <span class="heavy">Featured Item Count</span> updates to match accordingly. We recommend keeping the suggested number, but you can adjust as needed, provided you don't exceed the maximum number for that layout.
				</div>
			</div>					
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-2/assets/screen2.jpg">
			</div>	
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Save Changes</span> button at the top right of the page. You can also view your new homepage in real-time - just click the <span class="heavy">See It Live</span> link at the top of the page.
				</div>
			</div>											
		</div>		
	</div>
		


