
<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Top Referrals</h2>
		</div>
	</div>
</div>

      <!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->


<div class="row row-spaced">
	<div class="col-12">
		This section reports the website that a user was on prior to coming to your website. For instance, if a user is on www.abc.com and then decided to come to your website without closing their browser, this would be considered a referral from www.abc.com. This report does not account for all your traffic, only the top referring sites.
	</div>
</div>

<form name="topReferrals-date-form" id="topReferrals-date-form" class="form-section">
  <div class="row row-spaced panel form-section">
 	 <div class="label x-space"> Report Time Period </div>
		
       
		<div class="row row-spaced form-section">
			<div class="col-d-5 col-6 form-section">
				<label for="start-date">From:</label>
				<div class="date-container">
					<input type="text" id="start-date" name="start-date" class="date">
				</div>
			</div>
			<div class="col-d-5 col-6 form-section">
				<label for="end-date">To:</label>
				<div class="date-container">
					<input type="text" id="end-date" name="end-date" class="date">
				</div>
			</div>
	    </div>
			

        <div class="row row-spaced ">

			<div class="col-d-5 form-section">
				<label for="f-site-dropdown">Site:</label>
				<div class="select-container">
					<select name="f-site-dropdown" id="f-site-dropdown">
						<option selected disabled hidden value=""></option>
						<option selected="selected" value="Combined">Combined</option>
						<option value="Jennys">Jennys</option>
						<option value="Lehrers">Lehrer's Flowers</option>
						<option value="Martinas">Martina's Flowers</option>
					</select>
				</div>
			</div>
			<div class="col-d-5 col-6 form-section">
				<button type="button" id="go-btn" class="btn btn-submit row-btn">GO <i class="icon icon-right-circle-chevron icon-lg"></i></button>
			</div>
		</div>
</div>
	</form>

<div id="reportandChart-section" class="form-section top-Referrals-Report" style="visibility: hidden;">
   <div class="row row-spaced panel form-section">


 	<div class="row">
		<div class="col-12">
			<div class="clearfix section-title">
				<h3 class="pull-left"> Top 50 Referrals Report Charts (# of Visits) </h3>
				<div class="btn-panel">
                   <button id="print-ReferralsChart-btn" type="button" class="btn btn-submit"><i class="icon icon-print"></i>Print</button>
		           <button id="export-btn" type="button" class="btn btn-submit pull-right"><i class="icon icon-export"></i>Export</button>
				</div>
			</div>
		</div>
	</div>


<div class="row row-spaced">
   <div id="chart_div" align='center'></div>

   </div>

  <!-- Graph Goes Here -->

</div>


 	<div class="row row-spaced panel">
		<div class="col-12">
			<div class="clearfix section-title">
				<h3 class="pull-left">Top 50 Referrals Report Table </h3>
			</div>
		</div>
	



<div id="print-top-referrals-section">
	<div class="row row-spaced "> 
		<div class="col-12 y-space-top-xl">
			<table id="top-referrals-table" class="table alternate">
				
				<thead>
					<tr class="highlighted">
						<th class="col-2 left-align indented-l">Rank</th>
						<th class="col-7 left-align">Referals Website Address</th>
						<th class="col-2 left-align">Visits</th>
						<th class="col-2 left-align">Orders</th>
					</tr>
				</thead>


					<tbody id="top-Referrals-ReportingTable">
					</tbody>

			</table>
				
				</div>		
			
			</div>

  
    </div>

     </div>


</div>