<ul id="mobile-nav-list" class="compact-list">
<li class="mobile-nav-search form-section">
	<div class="search-container">
		<input placeholder="Search" name="f-nav-search" id="f-nav-search" type="text">
	</div>
</li>
<% for(var i = 0, j = categories.length; i < j; ++i) { %>
	<li class="link mobile-nav-parent">
		<%= categories[i].name %>
		<i class="icon icon-right-chevron pull-right"></i>
	</li>
	<ul class="mobile-nav-sub-list">
		<li class="link main-menu-link"><i class="icon icon-left-chevron x-space-s"></i>Main Menu</li>
		<% for(var k = 0, l = categories[i].subCategories.length; k < l; ++k) { %>
			<li class="mobile-nav-title"><i class="icon <%= categories[i].subCategories[k].iconClass %> icon-prefix"></i><%= categories[i].subCategories[k].name %></li>
			<% for (var m = 0, n = categories[i].subCategories[k].sections.length; m < n; ++m ) { %>
				<a href="<%= categories[i].baseUrl + categories[i].subCategories[k].sections[m].url %>"><li><%= categories[i].subCategories[k].sections[m].name %></li></a>
			<% } %>
		<% } %>
		<li class="mobile-nav-title">&nbsp;</li>
	</ul>
<% } %>
<a href="#"><li>See It Live</li></a>
<a href="#"><li>Change Site</li></a>
<li class="mobile-nav-title">Customer Service</li>
<a href="#"><li>E-Mail Us</li></a>
<a href="#"><li>800-835-3356</li></a>
<li class="mobile-nav-title"><a href="#"><li>Log Out</li></a></li>
<li class="clearfix center-align">
	<div class="centered-content-container">
		<div class="col-2"><button class="icon icon-btn icon-pinterest icon-2x icon-colored"></button></div>
		<div class="col-2"><button class="icon icon-btn icon-facebook icon-2x icon-colored"></button></div>
		<div class="col-2"><button class="icon icon-btn icon-twitter icon-2x icon-colored"></button></div>
		<div class="col-2"><button class="icon icon-btn icon-instagram icon-2x icon-colored"></button></div>
		<div class="col-2"><button class="icon icon-btn icon-yelp icon-2x icon-colored"></button></div>
	</div>
</li>
</ul>
