<% @title="eSat Pattern Library - Lists & Tables" %>
<% @desc="The common patterns associated with eSat's site structure of content for lists and tables." %>

<%= render :partial=> "/pattern-library/lists-tables/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "forms/index" %>
    <div class="divider top-margin"></div>
    <%= render "lists/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
