<section id="buttons" class="l-wrapper">
  <h2>Buttons</h2>
  <p>Buttons are reoccurring elements throughout the Teleflora site. Buttons are categorized by type (submit or navigation), color (grey, white, orange), and state (hovering or non-hovering).
  </p>
  <!-- buttons start -->
  <div class="form-field top-margin">
    <input type="submit" class="btn btn-orange" value="Submit" />
  </div>

   <div class="form-field top-margin">
    <input type="submit" class="btn btn-white" value="Submit" />
  </div>

  <div class="form-field top-margin">
    <input type="submit" class="btn btn-gray" value="Submit" />
  </div>

  <!-- buttons end -->
  <div class="clear"></div>
  <!-- button code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;input type="submit" class="btn btn-orange" value="Input Submit"/&gt;
  &lt;input type="submit" class="btn btn-white" value="Input Submit"/&gt;
  &lt;input type="submit" class="btn btn-gray" value="Input Submit"/&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button code demo ends -->

  <!-- buttons start -->
  <div class="form-field top-margin">

  <div class="form-field">
    <a type="button" class="btn btn-orange">Anchor Button <i class="fa fa-chevron-right"></i></a>
  </div>

  <div class="form-field">
    <a type="button" class="btn btn-white">Anchor Button <i class="fa fa-chevron-right"></i></a>
  </div>

  <div class="form-field">
    <a type="button" class="btn btn-gray">Anchor Button <i class="fa fa-chevron-right"></i></a>
  </div>

  </div>
  <!-- buttons end -->
  <div class="clear"></div>
  <!-- button code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;a type="button" class="btn btn-orange"&gt; Anchor Button &lt;i class="fa fa-chevron-right">&lt;/i&gt; &lt;/a&gt;
  &lt;a type="button" class="btn btn-white"&gt; Anchor Button &lt;i class="fa fa-chevron-right">&lt;/i&gt; &lt;/a&gt;
  &lt;a type="button" class="btn btn-gray"&gt; Anchor Button &lt;i class="fa fa-chevron-right">&lt;/i&gt; &lt;/a&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button code demo ends -->
  <!-- nav button starts -->
  <div class="form-field top-margin">
    <div class="form-field">
      <a type="button" class="btn btn-orange nav-square"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="form-field">
      <a type="button" class="btn btn-white nav-square"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="form-field">
      <a type="button" class="btn btn-gray nav-square"><i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="form-field">
      <a type="button" class="btn btn-orange nav-circle"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="form-field">
      <a type="button" class="btn btn-white nav-circle"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="form-field">
      <a type="button" class="btn btn-gray nav-circle"><i class="fa fa-chevron-right"></i></a>
    </div>
  <!-- nav button ends -->
  <div class="clear"></div>
  <!-- fb button code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;a type="button" class="btn btn-orange nav-square"&gt; &lt;i class="fa fa-chevron-left"&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;a type="button" class="btn btn-orange nav-circle"&gt; &lt;i class="fa fa-chevron-left"&gt;&lt;/i&gt;&lt;/a&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- fb button code demo ends -->
</section>
<!-- button section ends -->
