<section id="grid-gutters" class="l-wrapper top-margin m-pattern-section">
  <h2>Grid Gutters</h2>
  <p>Grid columns have a 1% margin on either side that results in a 2% gutter between columns and a 1% gutter on the grid edges. Even though the columns are fluid, the gutters remain constant.</p>

  <!-- grid container starts -->
  <div class="l-wrapper container_4 d-container_12 m-grid-container-bg-primary top-margin clearfix">
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4</p>
      </div>
    </div>
    <div class="grid_1 d-grid_3 m-grid-container-bg-secondary">
      <div class="m-center-content">
        <p class="avenir-heavy c-secondary-color">1 / 4</p>
      </div>
    </div>
  </div>
  <!-- grid container ends -->
</section>
<!-- grid-gutters end -->
