<% @title="eSat Pattern Library - Overview" %>
<% @desc="Overview of the eSat site code standards and conventions." %>

<%= render :partial=> "/pattern-library/sidebar" %>
<div class="d-grid_9 container_4">
    <section>
    <%= render "overview/project-description/index" %>
    <div class="divider top-margin"></div>
    <%= render "overview/code-standards/index" %>
    <div class="divider top-margin"></div>
    <%= render "overview/code-conventions/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
