<% if(!bodyOnly) { %>
<div class="row row-spaced panel">
	<div class="row panel alert-panel hidden">
		<div class="col-12">
			<div class="row">
				<div class="col-1">
					<div class="icon icon-3x icon-warning"></div>
				</div>
				<div class="col-11 alert-text">
					You have reached the maximum number of products allowed.<br>Please remove products you have selected if you wish to add more.
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="panel-title">Product Selection</div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="<%= disabled ? 'col-12' : 'col-7' %>">
			<div class="row">
				<div class="col-12">
					<h4 class="title pull-left"><%= title %></h4>

					<div id="view-control" class="pull-right">
						<button type="button" id="list-view" class="icon icon-btn icon-colored icon-list fa-lg"></button>
						<button type="button" id="grid-view" class="icon icon-btn icon-colored icon-category fa-lg active"></button>
					</div>
				</div>
			</div>

			<div id="product-container" class="scroll-container">
				<table id="product-table" class="table-list alternate hidden-alt">
					<thead>
						<tr>
							<th class="col-2">Rank</th>
							<% if(!disabled) { %>
							<th class="col-6">Product</th>
							<th class="col-2">Edit</th>
							<th class="col-2">Delete</th>
							<% } else { %>
							<th class="col-4">Product</th>
							<th class="col-6 left-align">Name</th>
							<% } %>
						</tr>
					</thead>

					<!--  List active products -->
					<tbody id="product-list"></tbody>

					  <img id="loader-overlay" class="hidden" src="/images/loader-transparent-background.png" style="position: absolute; z-index: 900; left: 0px; top: 0px;">

					  <img id="spinner-gif" class="hidden" src="/images/spinner.gif" style="position: absolute; z-index: 1000; left: 220px; top: 160px; bottom: 5px;">

				</table>

				<div id="product-grid" class="<%= disabled ? 'grid-6-closed' : 'grid-4-closed'  %> hidden-alt clearfix"></div>
			</div>
		</div>

		<% if (!disabled) { %>
		<div class="col-5 form-section">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-12">
							<h4 class="title pull-left">Product Search</h4>
							<button type="button" id="filter-view" class="icon icon-btn icon-colored icon-filter icon-lg pull-right"></button>
							<div id="product-search-checkboxes" class="search-filters">
								<div class="row">
									<div class="col-12">
										<h3 class="pull-left no-margin product-filter-header">Filter by:</h3>
										<button type="button" id="close-filter-view" class="icon icon-btn icon-x icon-lg pull-right"></button>
									</div>
								</div>

								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Type</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<!-- When multiple featured Product Views are rendered within the same view, declare the filterButtonLabel class to fix filter button css -->
											<label for="type-custom" class="filterButtonLabel">Custom</label>
											<input class="fill-container-width" data-key="type" data-value="Custom" type="checkbox" id="type-custom" checked>
										</div>

										<div class="col-6 center-align">
											<label for="type-Teleflora" class="filterButtonLabel">Teleflora</label>
											<input class="fill-container-width" data-key="type" data-value="Teleflora" type="checkbox" id="type-Teleflora" checked>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Status</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<label for="status-active" class="filterButtonLabel">Active</label>
											<input class="fill-container-width" data-key="featured" data-value="true" type="checkbox" id="status-active" checked>
										</div>

										<div class="col-6 center-align">
											<label for="status-inactive" class="filterButtonLabel">Inactive</label>
											<input class="fill-container-width" data-key="featured" data-value="false" type="checkbox" id="status-inactive" checked>
										</div>
									</div>
								</div>

								<% if(primarySku) { %>
								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Price Points</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<label for="price-point-primary" class="filterButtonLabel">Primary</label>
											<input class="fill-container-width" data-key="pricePoints" data-value="Primary" type="checkbox" id="price-point-primary" checked>
										</div>

										<div class="col-6 center-align">
											<label for="price-point-all" class="filterButtonLabel">All</label>
											<input class="fill-container-width" data-key="pricePoints" data-value="All" type="checkbox" id="price-point-all" checked>
										</div>
									</div>
								</div>
								<% } %>

								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Category</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 form-section">
										<div class="select-container">
											<select id="selectCategory" name="selectCategory">
											<option selected hidden disabled value="">All Categories</option>
											<option value="">All Categories</option>
											<% for(var i = 0, j = allOccasions.length; i < j; ++i) {%>
											<option value="<%= allOccasions[i].id %>"><%= allOccasions[i].occasion + ' | ID ' + allOccasions[i].id %></option>
											<% } %>
											</select>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="search-container no-margin">
				<input id="product-search-input" type="text" placeholder="Product Search Terms">

				<div class="scroll-container">
					<table id="product-search-table" class="table-list hide-overflow">
						<thead>
							<tr>
								<th data-attribute ="number" class="col-4 hidden">number</th>
								<th data-attribute ="name" class="col-6 hidden">name</th>
								<th data-attribute ="featured" class="col-2 hidden">active</th>
							</tr>
						</thead>
					<!-- List all products -->
					<tbody id="product-search-list" class="search-list"></tbody>
					</table>
				</div>
				<% if( selectAll ) { %>
				<div class="row">
					<div class="col-6 y-space-top-s pull-right right-align">
					  
						 <button type="button" class="btn-xs btn-submit" id="f-product-select-all"> Select All</button>
					</div>					
				</div>
				<% } %>				
			</div>
		</div>
		<% } %>
	</div>
</div>
<% } else { %>
	<div class="row panel alert-panel hidden">
		<div class="col-12">
			<div class="row">
				<div class="col-1">
					<div class="icon icon-3x icon-warning"></div>
				</div>
				<div class="col-11 alert-text">
					You have reached the maximum number of products allowed.<br>Please remove products you have selected if you wish to add more.
				</div>
			</div>
		</div>
	</div>
	<div class="row row-spaced">
		<div class="<%= disabled ? 'col-12' : 'col-7' %>">
			<div class="row">
				<div class="col-12">
					<h4 class="title pull-left"><%= title %></h4>

					<div id="view-control" class="pull-right">
						<button type="button" id="list-view" class="icon icon-btn icon-colored icon-list fa-lg"></button>
						<button type="button" id="grid-view" class="icon icon-btn icon-colored icon-category fa-lg active"></button>
					</div>
				</div>
			</div>

			<div id="product-container" class="scroll-container">
				<table id="product-table" class="table-list alternate hidden-alt">
					<thead>
						<tr>
							<th class="col-2">Rank</th>
							<% if(!disabled) { %>
							<th class="col-6">Product</th>
							<th class="col-2">Edit</th>
							<th class="col-2">Delete</th>
							<% } else { %>
							<th class="col-4">Product</th>
							<th class="col-6 left-align">Name</th>
							<% } %>
						</tr>
					</thead>

					<!--  List active products -->
					<tbody id="product-list"></tbody>

					  <img id="loader-overlay" class="hidden" src="/images/loader-transparent-background.png" style="position: absolute; z-index: 900; left: 0px; top: 0px;">

					  <img id="spinner-gif" class="hidden" src="/images/spinner.gif" style="position: absolute; z-index: 1000; left: 220px; top: 160px; bottom: 5px;">

				</table>

				<div id="product-grid" class="<%= disabled ? 'grid-6-closed' : 'grid-4-closed'  %> hidden-alt clearfix"></div>
			</div>
		</div>



		<% if (!disabled) { %>
		<div class="col-5 form-section">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-12">
							<h4 class="title pull-left">Product Search</h4>
							<button type="button" id="filter-view" class="icon icon-btn icon-colored icon-filter icon-lg pull-right"></button>
							<div id="product-search-checkboxes" class="search-filters">
								<div class="row">
									<div class="col-12">
										<h3 class="pull-left no-margin product-filter-header">Filter by:</h3>
										<button type="button" id="close-filter-view" class="icon icon-btn icon-x icon-lg pull-right"></button>
									</div>
								</div>

								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Type</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<label for="type-custom" class="filterButtonLabel">Custom</label>
											<input class="fill-container-width" data-key="type" data-value="Custom" type="checkbox" id="type-custom" checked >
										</div>

										<div class="col-6 center-align">
											<label for="type-Teleflora" class="filterButtonLabel">Teleflora</label>
											<input class="fill-container-width filterButton" data-key="type" data-value="Teleflora" type="checkbox" id="type-Teleflora" checked>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Status</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<label for="status-active" class="filterButtonLabel">Active</label>
											<input class="fill-container-width" data-key="featured" data-value="true" type="checkbox" id="status-active" checked>
										</div>

										<div class="col-6 center-align">
											<label for="status-inactive" class="filterButtonLabel">Inactive</label>
											<input class="fill-container-width" data-key="featured" data-value="false" type="checkbox" id="status-inactive" checked>
										</div>
									</div>
								</div>
								<% if (primarySku) { %>
								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Price Points</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row row-spaced">
										<div class="col-6 center-align">
											<label for="price-point-primary" class="filterButtonLabel">>Primary</label>
											<input class="fill-container-width" data-key="pricePoints" data-value="Primary" type="checkbox" id="price-point-primary" checked>
										</div>

										<div class="col-6 center-align">
											<label for="price-point-all" class="filterButtonLabel">>All</label>
											<input class="fill-container-width" data-key="pricePoints" data-value="All" type="checkbox" id="price-point-all" checked>
										</div>
									</div>
								</div>
								<% } %>
								<div class="row">
									<div class="clearfix">
										<div class="col-12">
											<div class="row">
												<div class="col-12">
													<div class="panel-title product-filter-title">Category</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 form-section">
										<div class="select-container">
											<select id="selectCategory" name="selectCategory">
											<option selected hidden disabled value="">All Categories</option>
											<option value="">All Categories</option>
											<% for(var i = 0, j = allOccasions.length; i < j; ++i) {%>
											<option value="<%= allOccasions[i].id %>"><%= allOccasions[i].occasion + ' | ID ' + allOccasions[i].id %></option>
											<% } %>
											</select>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="search-container no-margin">
				<input id="product-search-input" type="text" placeholder="Product Search Terms">
				<div class="scroll-container">
					<table id="product-search-table" class="table-list hide-overflow">
						<thead>
							<tr>
								<th data-attribute ="number" class="col-4 hidden">number</th>
								<th data-attribute ="name" class="col-6 hidden">name</th>
								<th data-attribute ="featured" class="col-2 hidden">active</th>
							</tr>
						</thead>
					<!-- List all products -->
					<tbody id="product-search-list" class="search-list"></tbody>
					</table>
				</div>
				<% if( selectAll ) { %>
				<div class="row">
					<div class="col-6 y-space-top-s pull-right right-align">
					  
						 <button type="button" class="btn-xs btn-submit" id="f-product-select-all"> Select All</button>
					</div>					
				</div>
				<% } %>				
			</div>
		</div>
		<% } %>
	</div>
<% } %>