<tr class="clickable catRowInfo <%= active ? 'added' : 'add-new'%>" data-id="<%= id %>">
	<td class="left-align wrap-text gp-col-name"><%= name %></td>
	<% if(showCategoryID) { %>
		<td class="left-align gp-col-id"><%= id %></td>
	<% } %>
	<% if(caticons) { %>
		<td class="left-align gp-col-icon"><div class="icon <%= collection ? 'icon-cubes' : 'icon-file' %>"></div></td>
	<% } %>
	<td class="right-align gp-col-active">
		<button type="button" class="icon icon-btn <%= active ? 'icon-added' : 'icon-add'%>"></button>
	</td>
</tr>