<div id="custom-html-pages">
	<div class="row row-spaced">
		<div class="col-12">
			<div class="clearfix section-title">
				<h2 class="pull-left">Custom Forms</h2>
			</div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			It's always a good idea to add custom forms to your website. Use this section to create a form that your customers can submit to an email address at your shop.
		</div>
	</div>

	<!-- Hidden Alert Message -->
	<div class="row row-spaced panel alert-panel">
		<div class="col-12">
			<div class="row">
				<div class="col-1">
					<div class="icon icon-3x icon-warning"></div>
				</div>
				<div class="col-11 alert-text">
					This is a generic placeholder for error messages in eSAT. <br>
					In the live app, this will be a real message and will be hidden by default.
				</div>
			</div>
		</div>
	</div>
	<!-- Hidden Alert Message -->

	<div class="row">
		<div class="col-12">
			<button id="add-btn" class="btn btn-submit pull-right"><i class="icon icon-add icon-lg"></i> New Form</button>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			<table class="table alternate">
				<thead>
					<tr>
						<th class="col-5 left-align indented-l">Form Name <button type="button" data-attribute="formName" class="icon icon-btn icon-sort sort-btn"></button></th>
						<th class="col-5 left-align indented-l">Form URL <button type="button" data-attribute="formUrl" class="icon icon-btn icon-sort sort-btn"></button></th>

						<th class="col-1">Edit</th>
						<th class="col-1">Delete</th>
					</tr>
				</thead>
				<tbody id="form-list"></tbody>
			</table>
		</div>
	</div>
</div>