<div class="row row-spaced panel">
	<div class="row">
		<div class="col-12">
			<div class="panel-title">Featured Subcategories</div>
		</div>
	</div>
	<div class="row row-spaced">
		<div class="col-6">
			<h4 class="title pull-left">Selected Featured Subcategories</h4><i title="This allows you to organize your site by listing several groups of products under one main category." class="icon icon-tool-tip x-space-s"></i>
			<table class="table-list alternate">
				<thead>
					<tr>
						<th class="col-3">Rank</th>
						<th class="col-6">Name</th>
						<th class="col-3">Delete</th>
					</tr>
				</thead>
				<tbody id="featured-sub-list"></tbody>
			</table>
		</div>

		<div class="col-6 form-section">
			<h4 class="title">Subcategory Search</h4>
			<div class="search-container">
				<input class="no-margin search-input" type="text" placeholder="Search Terms">
				<ul id="featured-sub-search-list" class="search-list"></ul>
			</div>
		</div>
	</div>
</div>