<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">Change Category Layout</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row row-spaced">
				<div class="col-12">
					There are two different layout options available for category landing pages. One showcases three products per row, with large images, while the other has four products per row and smaller images. In general, online shoppers tend to prefer larger images. We encourage you to try both layout options to see which fits your store’s aesthetic and products best.
				</div>
			</div>
			<div class="row row-spaced y-space-top-xl">
				<div class="col-12">Option 1: Large Image Category Layout; 3 products per row. (<span class="heavy red">RECOMMENDED - more appealing to customers</span>)</div>
			</div>
			<div class="row">
				<div class="col-12">Option 2: Small Image Category Layout; 4 products per row.</div>
			</div>			
			<div class="row center-align">
				<img class="fit-container help-screen" src="js/app/content/help-3/assets/screen1.jpg">
			</div>
			<div class="row row-spaced">
				<div class="col-12">
					Go to <span class="heavy">Merchandising</span>, then <span class="heavy">Category Settings</span>.
				</div>
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Select your preference from the drop-down menu called <span class="heavy">Category Page Layout</span>.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-3/assets/screen2.jpg">
			</div>				
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Save</span> button at the top right corner of the page.
				</div>
			</div>				
									
		</div>		
	</div>
		


