.table {
	width: 100%;
    border: 1px solid $color-border-2;

    & td {
        padding: $space-xs;
        text-align: center;
    }

    & th {
        font-weight: bold;
        font-size: 1.1em;
        padding: $space-xs;
        text-align: center;
    }

    & tr {
    	border-bottom: 1px solid $color-border-2;
        background-color: white;
        border-left: 0;
        border-right: 0;

        &.clickable:hover {
            background-color:  $color-accent-2 !important;
        }
    }

    // Table themes
    &.alternate > tbody > tr:nth-child(odd) {
        background-color: $color-neutral-1;
    }

    &.minimal {
        border: 0;

        & tr {
            border: 0;
        }

        & > tbody > tr {
            border-top: 2px solid $color-border-2;
            border-bottom: 2px solid $color-border-2;
        }
    }

    &.left-align {
        & td, & th {
            text-align: left;
        }
    }

    // Options
    & td, & th {
        &.indented-s {
            text-indent: $space-s;
        }

        &.indented-m {
            text-indent: $space-m;
        }

        &.indented-l {
            text-indent: $space-l;
        }
    }

    & tr {
        &.active, &.highlighted {
            background-color: $color-accent-2-light !important;
        }

        &.sortable {
            & > td {
                cursor: move;
            }
        }
    }

    // Other
    & .on-off-switch-label, & input, & select {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    & th[class ^= "col"] {
        float: none;
    }
}

.table-list {
    @extend .table;

    & td {
        padding: $space-s;
    }
}

tbody.search-list {
    border-bottom: 2px solid $color-border-2;
    & > tr:first-child {
        border-top: 0;
    }
}

// div to wrap tables to make them rounded
.rounded-table-container {
    @include border-radius($border-radius * 2);
    border: 3px solid $color-border-2;

    & thead tr {
        border-top: 0;
    }

    & tbody tr:last-child {
        border-bottom: 0;
    }
}

.div-table {
    border: 1px solid $color-border-2;
    text-align: center;

    & .row {
        margin: 0;
        border-bottom: 1px solid $color-border-2;

        &:last-child, & .row:last-child {
            border-bottom: 0;
        }

        & > .nested-rows > .row:first-child {
            border-top: 1px solid $color-border-2;
        }
    }

    & div[class*="col-"] {
        padding-top: $space-xs;
        padding-bottom: $space-xs;
        padding-left: 0;
        padding-right: 0;
        min-height: $height-input * 1.1;
        line-height: $height-input * 1.1;
    }

    & > .div-table-head {
        background-color: white;
        font-weight: bold;

        & div[class*="col-"] {
            padding: $space-xs;
            line-height: inherit;
            min-height: 0;

            &:first-child {
                padding-left: $space-s;
            }

            &:last-child {
                padding-right: $space-s;
            }
        }

        & > .row {
            border-bottom: 1px solid $color-border-2;
        }
    }

    & > .div-table-body {
        & > .row {
            background-color: $color-neutral-1;

            & > .nested-rows {
                background-color: white;

                & > .row > .nested-rows {
                    background-color: $color-neutral-1;

                    & > .row > .nested-rows {
                        background-color: white;
                    }
                }
            }
        }
    }

    & .on-off-switch-label, & input, & select {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    & .toggle-btn {
        position: absolute;
        padding: 0;
        top:.5em;
        width: $space-xl - $space-xs;
        font-size: $space-xl - $space-xs;
    }

    & .level-1 {
        text-indent: $space-xs + $space-xl;

        & > .toggle-btn {
            left: $space-xs;
        }
    }

    & .level-2 {
        text-indent: $space-xs + $space-xl + $space-l;

        & > .toggle-btn {
            left: $space-xs + $space-l;
        }
    }

    & .level-3 {
        text-indent: $space-xs + $space-xl + ($space-l * 2);

        & > .toggle-btn {
            left: $space-xs + ($space-l * 2);
        }
    }

    & .level-4 {
        text-indent: $space-xs + $space-xl + ($space-l * 3);

        & > .toggle-btn {
            left: $space-xs + ($space-l * 3);
        }
    }

    & .active, & .highlighted {
        background-color: $color-accent-2-light !important;
    }
}

th.th-1-20 {
    width: 5%;
}

th.th-2-20 {
    width: 10%;
}

th.th-3-20 {
    width: 15%;
}

th.th-4-20 {
    width: 20%;
}

th.th-5-20 {
    width: 25%;
}

th.th-6-20 {
    width: 30%;
}

th.th-7-20 {
    width: 35%;
}

th.th-8-20 {
    width: 40%;
}

th.th-9-20 {
    width: 45%;
}

th.th-10-20 {
    width: 50%;
}

th.th-11-20 {
    width: 55%;
}

th.th-12-20 {
    width: 60%;
}

th.th-13-20 {
    width: 65%;
}

th.th-14-20 {
    width: 70%;
}

th.th-15-20 {
    width: 75%;
}

th.th-16-20 {
    width: 80%;
}

th.th-17-20 {
    width: 85%;
}

th.th-18-20 {
    width: 90%;
}

th.th-19-20 {
    width: 95%;
}

th.th-20-20 {
    width: 100%;
}

.clickable-search-results {
    tbody tr {
        &:hover{
            background-color: $color-accent-2-light;
            cursor: pointer;
        }
    }
}

.small-table-image {
  max-width: 75px;
}

// deal of the day images
.small-dotd-image {
    max-width: 150px !important;
    max-height: 150px !important;
}


// table text for floral app reports / code management

.borderlesstable {
    border: none
}

.boldtext {
    font-weight: 700;
}

.codeHeightMin {
    min-height: 188px;
}

#AlternateResourceUrl-List{
    td{
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 515px;
    }
}

#DirectoryResourceUrl-List{
    td{
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 275px;
    }
}

#Permanent-Redirect-List{
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 275px;
    }
}

.ui-sortable-handle.active {
    display:table;
    img.fit-container{
        max-height:72px;
    }
}