.m-logout-header {
  /* font-size: 1.846em; */
  margin-top: 2em;
  text-align: center;
}

.m-logout-header-main {
  color: #ff475d;
  //font-family: "Avenir LT W01 Medium", Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
}
