.m-new-reminders-phone-input {
  margin-bottom: 0.2em;

}

.m-new-reminders-below-terms {
  margin-bottom: 1.7em;
}

.m-new-reminders-phone-input-with-error {
  margin-bottom: 1.5em !important;
}

.m-red {
  color: #F00;
}