.m-password-confirm {
  position: relative;
  width: 100%;
  text-align: left;

  .m-password-confirm-text {
    text-align: center;
  }

  .m-password-confirm-text-no-mobile {
    text-align: left;
    padding-left: 0.6em;
  }
}
