.m-password {
  position: relative;
  width: 100%;
  margin-bottom: 4em !important;
}

.m-password-old-label {
text-align: left;
  @include desktop() {
    text-align: left;
  }
}

.m-password-new-label {
  text-align: left;
  @include desktop() {
    text-align: left;
  }
}

.m-password-reenter-label {
  text-align: left;
}

.m-password-submit-button{
  @include desktop() {
    padding-left: 0.3em;
  }
}
