.print {
  display: none;
}

@media print {
  body {
    min-height: 1px;
  }

  header {
    display: none;
  }

  #wrapper {
    min-height: 1px;
  }

  footer {
    display: none;
  }

  nav {
    display: none;
  }

  a {
    display: none;
  }

  .no-print {
    display: none;
  }

  .print {
    display: block;
    height: 100%;
    border: 1px solid #cccccc;
    margin: 3px 5px;
    min-height: 30em;
  }
}
