.esat-orange{color: #ff7e00; font-size: 16pt;}
.esat-blue{color: #177dfd;font-size: 16pt;}
.esat-gray{color: #838383;font-size: 16pt;}
.esat-white{color: #f4f4f4; font-size: 16pt;}
.esat-light-orange{color: #ff9b3a;font-size: 16pt;}
.esat-light-blue{color: #8cbfe4; font-size: 16pt;}
.esat-light-gray{color: #a6a6a6;font-size: 16pt;}
.esat-light-yellow{color: #f2f5ea; font-size: 16pt;}