<section id="header" class="l-wrapper no-mobile">
  <h2>Header</h2>
  <p>Teleflora's header navigation. A ubiquitous site feature dedicated to only the header navigation.</p>

  <!-- navbar starts -->
  <nav class="m-navbar position-absolute no-top no-bottom full-height fluid no-top no-left bottom-border clearfix m-navbar-pattern-library">
    <!-- wrapper starts -->
    <div class="l-wrapper">
      <!-- navbar top level starts -->
      <ul class="m-navbar-toplevel fluid auto-height no-margin no-padding">

        <!-- navbar items start -->
        <li class="m-navbar-item bottom-border float-left m-navbar-item-first">
          <a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a>
        </li>
        <li class="m-navbar-item bottom-border float-left">
          <a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a>
        </li>
        <!-- navbar items ends -->

        <!-- navbar subnav starts -->
        <li class="m-navbar-item bottom-border float-left m-navbar-has-subnav">
          <a class="m-navbar-link uppercase float-left position-relative m-subnav-trigger" data-subnav="something" href="javascript:void(0);">Navbar Trigger Link</a>
           <!-- navbar second level starts -->
          <ul class="m-navbar-secondlevel fluid auto-height no-margin no-padding no-right" style="display: none;">
            <li class="m-navbar-pinkline"></li>
            <li class="m-navbar-item bottom-border float-left no-desktop"><a class="m-navbar-link uppercase float-left position-relative m-navbar-escape alt-pink" href="javascript:void(0);">.m-navbar-escape</a></li>
            <!-- navbar set large starts -->
            <div class="m-navbar-set m-navbar-set-large no-border">
              <li class="m-navbar-item bottom-border float-left m-navbar-divider"><span class="m-navbar-title uppercase float-left position-relative">Navbar Set Large</span></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative alt-pink" href="javascript:void(0);">Navbar Link Pink </a></li>
            </div>
            <!-- navbar set large ends -->
            <!-- navbar set starts -->
            <div class="m-navbar-set">
              <li class="m-navbar-item bottom-border float-left m-navbar-divider"><span class="m-navbar-title uppercase float-left position-relative">Navbar Set</span></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative alt-pink" href="javascript:void(0);">Navbar Link Pink </a></li>
            </div>
            <!-- navbar set ends -->
            <!-- navbar set starts -->
            <div class="m-navbar-set">
              <li class="m-navbar-item bottom-border float-left m-navbar-divider"><span class="m-navbar-title uppercase float-left position-relative">Navbar Set</span></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a></li>
              <li class="m-navbar-item bottom-border float-left"><a class="m-navbar-link uppercase float-left position-relative alt-pink" href="javascript:void(0);">Navbar Link Pink </a></li>
            </div>
            <!-- navbar set ends -->
          </ul>
          <!-- navbar second level ends -->
        </li>

        <!-- navbar subnav ends -->
        <!-- navbar item starts -->
        <li class="m-navbar-item bottom-border float-left">
          <a class="m-navbar-link uppercase float-left position-relative" href="javascript:void(0);">Navbar Link</a>
        </li>
        <!-- navbar item ends -->
      </ul>
      <!-- navbar top level ends -->

      <!-- navbar background starts -->
      <div id="secondLevelBkg" class="m-navbar-secondlevel-bkg">
        <div class="m-navbar-pinkline"></div>
      </div>
      <!-- navbar background ends -->

    </div>
    <!-- wrapper ends -->
  </nav>
  <!-- navbar ends -->

  <div class="clear"></div>

  <!-- code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- navbar starts --&gt;
  &lt;nav class="m-navbar"&gt;
    &lt;!-- wrapper starts --&gt;
    &lt;div class="l-wrapper"&gt;
      &lt;!-- navbar top level starts --&gt;
      &lt;ul class="m-navbar-toplevel"&gt;

        &lt;!-- navbar items start --&gt;
        &lt;li class="m-navbar-item"&gt;
         &lt;a class="m-navbar-link" href="#"&gt;Navbar Link&lt;/a&gt;
       &lt;/li&gt;
       &lt;!-- navbar items ends --&gt;

       &lt;!-- navbar subnav starts --&gt;
       &lt;li class="m-navbar-item m-navbar-has-subnav"&gt;
         &lt;a class="m-navbar-link m-subnav-trigger" data-subnav="occasions" href="#"&gt;Navbar Trigger Link&lt;/a&gt;

         &lt;!-- navbar second level starts --&gt;
         &lt;ul class="m-navbar-secondlevel c-secondlevel-pattern-library"&gt;
           &lt;li class="m-navbar-pinkline"&gt;&lt;/li&gt;
           &lt;li class="m-navbar-item no-desktop"&gt;&lt;a class="m-navbar-link m-navbar-escape alt-pink" href="#"&gt;.m-navbar-escape &lt;/a&gt;&lt;/li&gt;

           &lt;!-- navbar set large starts --&gt;
           &lt;div class="m-navbar-set m-navbar-set-large"&gt;
             &lt;li class="m-navbar-item m-navbar-divider"&gt;&lt;span class="m-navbar-title"&gt;Navbar Set Large&lt;/span&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link" href="#"&gt;Navbar Link&lt;/a&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link alt-pink" href="#"&gt;Navbar Link Pink &lt;/a&gt;&lt;/li&gt;
           &lt;/div&gt;
           &lt;!-- navbar set large ends --&gt;

           &lt;!-- navbar set starts --&gt;
           &lt;div class="m-navbar-set"&gt;
             &lt;li class="m-navbar-item m-navbar-divider"&gt;&lt;span class="m-navbar-title"&gt;Navbar Set&lt;/span&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link" href="#"&gt;Navbar Link&lt;/a&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link alt-pink" href="#"&gt;Navbar Link Pink &lt;/a&gt;&lt;/li&gt;
           &lt;/div&gt;
           &lt;!-- navbar set ends --&gt;

           &lt;!-- navbar set starts --&gt;
           &lt;div class="m-navbar-set"&gt;
             &lt;li class="m-navbar-item m-navbar-divider"&gt;&lt;span class="m-navbar-title"&gt;Navbar Set&lt;/span&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link" href="#"&gt;Navbar Link&lt;/a&gt;&lt;/li&gt;
             &lt;li class="m-navbar-item"&gt;&lt;a class="m-navbar-link alt-pink" href="#"&gt;Navbar Link Pink &lt;/a&gt;&lt;/li&gt;
           &lt;/div&gt;
           &lt;!-- navbar set ends --&gt;

         &lt;/ul&gt;
         &lt;!-- navbar second level ends --&gt;
       &lt;/li&gt;
       &lt;!-- navbar subnav ends --&gt;

     &lt;/ul&gt;
     &lt;!-- navbar top level ends --&gt;

     &lt;!-- navbar background starts --&gt;
     &lt;div id="secondLevelBkg" class="m-navbar-secondlevel-bkg"&gt;
       &lt;div class="m-navbar-pinkline"&gt;&lt;/div&gt;
     &lt;/div&gt;
     &lt;!-- navbar background ends --&gt;

   &lt;/div&gt;
   &lt;!-- wrapper ends --&gt;
 &lt;/nav&gt;
 &lt;!-- navbar ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
<!-- #header -->

<script type="text/javascript">
      var pickerLoad = false;
      var domain = '<%= domain %>';
      initLoad = true
      Modernizr.load([
        {
          both: [
            '<%= domain %>javascripts/modules/bootstrap-tooltip.js',
            '<%= domain %>javascripts/lib/hammer.min.js',
            '<%= domain %>javascripts/teleflora.js',
          ],
          complete: function(){
          }
        }
      ]);
</script>
