<div class="left-align">

	<div class="row row-spaced">
		<div class="col-12">
			<div class="clearfix section-title">
				<h2 class="pull-left">Edit Push Notification</h2>
				<div class="btn-panel">
					<button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
					<button type="button" id="save-btn" class="btn btn-submit pull-right">Save</button>
					<div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
				</div>
			</div>
		</div>
	</div>

<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

	<div class="row row-spaced">
		<div class="col-5 form-section">
			<div class="label">Push Notification Status</div>
			<input <%= active ? 'checked' : '' %> type="checkbox" id="f-status" name="f-status" class="on-off-switch" />
			<label for="f-status" class="on-off-switch-label">
				<div class="on-off-switch-state">on</div>
			</label>	 				
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12 form-section">
			<div class="label">Push Notification Text</div>
			<input type="text" id="f-offer" name="f-offer" value="<%= offer %>" <%= send ? 'disabled' : '' %>>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-6 select-container form-section">
			<div class="label">Send Time</div>
			<select id="f-sendTime" name="f-sendTime" <%= send ? 'disabled' : '' %>>
				<% if( sendTime == 'future' ) {
					sendTimeTitle = 'Schedule future send date and time'
				} else {
					sendTimeTitle = 'Send offer immediately'
				}  %>			
				<option selected disabled hidden value="<%= sendTimeTitle %>"><%= sendTimeTitle %></option>
				<option value="Schedule future send date and time">Schedule future send date and time</option>
				<option value="Send offer immediately">Send offer immediately</option>
			</select>
		</div>
	</div>

	<div class="row row-spaced" id="f-start-row">
		<div class="col-4 form-section date-container">
			<div class="label">Start Date</div>
			<input type="text" name="f-startDate" id="f-startDate" class="date" value="<%= startDate %>" <%= send ? 'disabled' : '' %>>
		</div>
		<div class="col-3 form-section select-container">
			<div class="label">Time</div>
			<select name="f-startTime" id="f-startTime" <%= send ? 'disabled' : '' %>>
				<option selected disabled hidden value="<%= startTime %>"><%= startTime %></option>
				<option value="1:00">1:00</option>
				<option value="2:00">2:00</option>
				<option value="3:00">3:00</option>
				<option value="4:00">4:00</option>
				<option value="5:00">5:00</option>
				<option value="6:00">6:00</option>
				<option value="7:00">7:00</option>
				<option value="8:00">8:00</option>
				<option value="9:00">9:00</option>
				<option value="10:00">10:00</option>
				<option value="11:00">11:00</option>
				<option value="12:00">12:00</option>
			</select>
		</div>
		<div class="col-3 form-section select-container">
			<div class="label">&nbsp;</div>
			<select name="f-startAmPm" id="f-startAmPm" <%= send ? 'disabled' : '' %>>
				<option selected disabled hidden value="<%= startAmPm %>"><%= startAmPm %></option>
				<option value="AM">AM</option>
				<option value="PM">PM</option>
			</select>			
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-4 form-section date-container">
			<div class="label">End Date</div>
			<input type="text" name="f-endDate" id="f-endDate" class="date" value="<%= endDate %>" <%= send ? 'disabled' : '' %>>
		</div>
		<div class="col-3 form-section select-container">
			<div class="label">Time</div>
			<select name="f-endTime" id="f-endTime" <%= send ? 'disabled' : '' %>>
				<option selected disabled hidden value="<%= endTime %>"><%= endTime %></option>
				<option value="1:00">1:00</option>
				<option value="2:00">2:00</option>
				<option value="3:00">3:00</option>
				<option value="4:00">4:00</option>
				<option value="5:00">5:00</option>
				<option value="6:00">6:00</option>
				<option value="7:00">7:00</option>
				<option value="8:00">8:00</option>
				<option value="9:00">9:00</option>
				<option value="10:00">10:00</option>
				<option value="11:00">11:00</option>
				<option value="12:00">12:00</option>
			</select>
		</div>
		<div class="col-3 form-section select-container">
			<div class="label">&nbsp;</div>
			<select name="f-endAmPm" id="f-endAmPm" <%= send ? 'disabled' : '' %>>
				<option selected disabled hidden value="<%= endAmPm %>"><%= endAmPm %></option>
				<option value="AM">AM</option>
				<option value="PM">PM</option>
			</select>			
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12 form-section">
			<div class="label">Special Offer Message</div>
			<textarea name="f-offerMsg" id="f-offerMsg" class="size-2" <%= send ? 'disabled' : '' %>><%= offerMsg %></textarea>
		</div>
	</div>

</div>