<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Category Settings</h2>
			<div class="btn-panel">
				<button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
				<button type="button" id="save-btn" class="btn btn-submit pull-right">Save</button>
				<div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
			</div>
		</div>
	</div>
</div>


<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->


<div class="row row-spaced">
	<div class="col-12">
		Select the options you want to give your customers. Do you want them to be able to filter by price or by flower? Use this page to control your categories.
	</div>
</div>

<div class="row row-spaced panel form-section">
	<div class="row">
		<div class="col-12">
			<div class="panel-title">Category View Settings</div>
		</div>
	</div>

	<div class="row row-spaced">

		<div class="col-6">
			<label for="f-page-layout">Category Page Layout</label>
			<div class="select-container">
			    <select id="f-page-layout" name="f-page-layout">
			        <option selected disabled hidden value="<%= layout %>"><%= layout %></option>
			        <option value="Large Images" preview="catlayout-1">Large Images</option>
			        <option value="Small Images" preview="catlayout-2">Small Images</option>
			    </select>
			</div>
		</div>

		<div class="col-6">
			<div class="label">Quick View in Products Grid<i title="The Quick View option allows your customers to easily add products to the basket directly from the category page." class="icon icon-tool-tip x-space-s"></i></div>
			<input <%= quickViewActive ? 'checked' : '' %> type="checkbox" id="f-quick-view-active" name="f-quick-view-active" class="on-off-switch" />
			<label for="f-quick-view-active" class="on-off-switch-label">
			    <div class="on-off-switch-state">on</div>
			</label>
		</div>

	</div>

	<div class="row">
		<div class="col-6">
			<div class="label">Category Page Preview</div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-6">
			<img <% if(layout=='Small Images') { %>src="/images/mock/catlayout-1.png"<% } else { %>src="/images/mock/catlayout-2.png"<% }  %> class="categoryImage">
		</div>
	</div>

</div>

<div class="row row-spaced panel">
	<div class="row">
		<div class="col-12">
			<div class="panel-title">Merchandising</div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-6 form-section">
			<div class="label">Disable Automatic Merchandising</div>
			<input <%= disableTFMerchandising ? 'checked' : '' %> type="checkbox" id="f-merchandising" name="f-merchandising" class="on-off-switch" />
			<label for="f-merchandising" class="on-off-switch-label">
				<div class="on-off-switch-state">on</div>
			</label>
		</div>

		<div class="col-6 form-section">
			<div class="label">Disable New Teleflora Categories<i title="This will automatically set any new non-custom categories to inactive so they will not appear on your site. This applies to Teleflora categories as well as group level categories." class="icon icon-tool-tip x-space-s"></i></div>
			<input <%= disableTFCategories ? 'checked' : '' %> type="checkbox" id="f-tfcats" name="f-tfcats" class="on-off-switch" />
			<label for="f-tfcats" class="on-off-switch-label">
				<div class="on-off-switch-state">on</div>
			</label>
		</div>
	</div>	
</div>

<div class="row row-spaced panel">
	<div class="row">
		<div class="col-12">
			<div class="panel-title">Category Product Settings</div>
		</div>
	</div>
	<div class="row row-spaced">
		<div class="col-12 form-section">
			<div class="label">Use Transparent Background Images When Available <i class="icon icon-tool-tip x-space-s" title="If this is ON, category products will use .png images for those products if they exist. If OFF, those products will use the .jpg files which have faster load times." class="icon icon-tool-tip x-space-s"></i></div>
			<input <%= transparent ? 'checked' : '' %> type="checkbox" id="f-transparent" name="f-transparent" class="on-off-switch" />
			<label for="f-transparent" class="on-off-switch-label">
			    <div class="on-off-switch-state">on</div>
			</label>
		</div>
	</div>	
</div>

<div class="row row-spaced panel">
	<div class="row">
		<div class="col-12">
			<div class="panel-title">
				Attributes for Filtering Category Products
			</div>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			<table class="table alternate">
				<thead>
					<tr>
						<th class="col-2">Order</th>
						<th class="col-8">Attributes</th>
						<th class="col-2">Status</th>
					</tr>
				</thead>
				<tbody id="filter-list"></tbody>
			</table>
		</div>
	</div>
</div>

<div id="price-band-container" class="row row-spaced panel <%= showPriceBand ? '' : 'hidden-alt' %>"></div>