<section id="paragraphs" class="l-wrapper top-margin">
    <h2>Paragraphs</h2>
    <p>Paragraph tags have a 17px base size and a margin bottom of 0.33333 em's.</p>
    <br>
    <p>
      <a href="javascript:void(0);">Integer nec urna vel ligula adipiscing pellentesque vitae varius risus.</a> Duis pharetra lacus lectus, sit amet congue est consequat at. <b>Duis sit amet felis turpis.</b> Nunc non ante ut nisi tristique vehicula sed eu arcu. Ut sit amet nisi orci. <br><br>Duis libero urna, eleifend faucibus adipiscing non, ullamcorper at ligula. Integer vehicula magna mauris, et ornare metus consequat eu. <i>Cras eu congue urna. Etiam venenatis mi mollis mauris lacinia suscipit. Fusce a molestie elit.</i>
    </p>

  <!-- p container starts -->
  <div class="top-margin">
    <div class="container_4 d-grid_3">
      <p>Paragraph</p>
      <p>1.30769em</p>
    </div>
    <div class="container_4 d-grid_3">
      <p>Font Family</p>
      <p>Cantarell</p>
    </div>
    <div class="container_4 d-grid_6">
      <p>Notes</p>
      <p>Paragraphs tags serve various purposes and can be either be the sans-serif or serif typeface; font weights and font colors may also vary depending on application.</p>
  </div>
  <!-- p container ends -->
  <div class="clear"></div>
  <!-- p code demo -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- p container starts --&gt;
  &lt;div class="container_4 d-grid_3"&gt;
    &lt;p&gt;Paragraph&lt;/p&gt;
    &lt;p&gt;1.30769em&lt;/p&gt;
  &lt;/div&gt;
  &lt;!-- p container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- paragraph section ends -->
