.c-circle-number{
  width:1.75em;
  height:1em;
  padding-top: 0.1em;

  background-color:$accent-grey;
  border-radius:100%;

  color:$white;
  text-align:center;
  font-family:$sans-stack-heavy;
  //font-size:0.6em;
}
