<div id="custom-html-pages">
	<div class="row row-spaced">
		<div class="col-12">
			<div class="clearfix section-title">
				<h2 class="pull-left">Custom HTML Pages</h2>
			</div>
		</div>
	</div>
<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

	<div class="row row-spaced">
		<div class="col-12">
			It's always a good idea to add custom content to your website. Use this page to help with the HTML. Adding custom content to your site can help search engine rankings and customer interaction.
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<button id="add-btn" class="btn btn-submit pull-right"><i class="icon icon-add icon-lg"></i> New Page</button>
		</div>
	</div>

	<div class="row row-spaced">
		<div class="col-12">
			<table class="table alternate">
				<thead>
					<tr>
						<th class="col-3 left-align indented-l">Page Name <button type="button" data-attribute="pageName" class="icon icon-btn icon-sort sort-btn"></button></th>
						<th class="col-5 left-align indented-l">Page URL <button type="button" data-attribute="pageUrl" class="icon icon-btn icon-sort sort-btn"></button></th>

						<th class="col-2">Edit</th>
						<th class="col-2">Delete</th>
					</tr>
				</thead>
				<tbody id="page-list"></tbody>
			</table>
		</div>
	</div>
</div>