<section id="featured-items" class="l-wrapper">
  <h2>Featured Items</h2>
  <p>Featured item full width banners that highlight specific content (dimensions are not applicable in this demo because this is normally full bleed content.)</p>

  <!-- content container starts -->
  <div class="m-homepage l-content-homepage centered clearfix">
    <!-- section starts -->
    <section class="m-homepage-middle-promo top-margin clearfix">
      <!-- container starts -->
      <div class="d-container_12 container_4">
        <!-- wrapper starts -->
        <div class="l-wrapper">
          <!-- image starts -->
          <div class="m-homepage-middle-promo-image d-grid_6 no-mobile">
            <img src="http://placehold.it/450x265" class="fluid" alt="promo-product-image">
          </div>
          <!-- image ends -->
          <!-- text starts -->
          <div class="m-homepage-middle-promo-text d-grid_6">
            <p class="m-homepage-middle-promo-text-p m-pattern-lib-downsize">Cras  <span class="teleflora-logo">teleflora</span> scelerisque elit accumsan, varius.</p>
            <a href="#" class="avenir-medium m-homepage-middle-promo-text-link">CTA Link</a>
          </div>
          <!-- text ends -->
        </div>
        <!-- wrapper ends -->
      </div>
      <!-- container ends -->
    </section>
    <!-- section ends -->
  </div>
  <!-- content container ends -->

  <div class="clear"></div>
  <!-- code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- content container starts --&gt;
  &lt;div class="m-homepage l-content-homepage centered clearfix"&gt;
    &lt;!-- section starts --&gt;
    &lt;section class="m-homepage-middle-promo top-margin clearfix"&gt;
      &lt;!-- container starts --&gt;
      &lt;div class="d-container_12 container_4"&gt;
        &lt;!-- wrapper starts --&gt;
        &lt;div class="l-wrapper"&gt;
          &lt;!-- image starts --&gt;
         &lt;div class="m-homepage-middle-promo-image d-grid_6 no-mobile"&gt;
           &lt;img src="http://placehold.it/450x265" class="fluid" alt="promo-product-image"&gt;
         &lt;/div&gt;
         &lt;!-- image ends --&gt;
         &lt;!-- text starts --&gt;
         &lt;div class="m-homepage-middle-promo-text d-grid_6"&gt;
           &lt;p class="m-homepage-middle-promo-text-p m-pattern-lib-downsize"&gt;Cras  &lt;span class="teleflora-logo"&gt;teleflora&lt;/span&gt; scelerisque elit accumsan, varius.&lt;/p&gt;
           &lt;a href="#" class="avenir-medium m-homepage-middle-promo-text-link"&gt;CTA Link&lt;/a&gt;
         &lt;/div&gt;
         &lt;!-- text ends --&gt;
       &lt;/div&gt;
       &lt;!-- wrapper ends --&gt;
     &lt;/div&gt;
     &lt;!-- container ends --&gt;
   &lt;/section&gt;
   &lt;!-- section ends --&gt;
 &lt;/div&gt;
 &lt;!-- content container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->
</section>
<!-- featured items section ends -->
