<section id="modal" class="l-wrapper top-margin">
  <h2>Modal</h2>
  <p>A modal or dialog box drop down takeover. On click or tap the users screen is temporarily obstructed by a modal box animated in from the top of the page. The modal window is a child window that requires users to interact with it before they can return to operating the parent application, thus preventing the workflow on the application main window. Modal windows are used to command user attention to vital pieces of information and to display emergency states.
  </p>

  <a href="#myModal" data-toggle="modal" class="m-login-form-forgot-pw top-margin" tabindex="6">Click Here For Modal</a>


  <!-- modal starts -->
  <div id="myModal" class="modal hide fade" tabindex="-1" data-width="760" style="display:none;">
    <!-- modal header container starts-->
    <div class="m-pdp-modal-header modal-header">
      <!--modal header title starts -->
      <h5 class="m-pdp-modal-header-text">Modal Header
        <span><a href="#" data-dismiss="modal" class="pull-right icon-close icon-close-modal"></a></span>
      </h5>
      <!--modal header title ends -->
    </div>
    <!-- end modal header container -->
    <!-- form starts -->
    <form>
      <div class="modal-body">
        <p>Modal description copy</p>
        <br>
          <label>INPUT</label>
          <input style="width:250px;" data-type="email" type="email"/>
      </div>
      <!-- modal footer container starts -->
      <div class="modal-footer pdp-modal-footer">
        <!-- modal go back to shopping link -->
        <input type="submit" class="btn btn-submit pull-left" value="Submit">
      </div>
      <!-- end modal footer container -->
    </form>
    <!-- form ends -->
  </div>
  <!-- modal ends -->

  <div class="clear"></div>
  <!-- code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- modal starts --&gt;
  &lt;div id="myModal" class="modal hide fade" tabindex="-1" data-width="760" style="display:none;"&gt;
    &lt;!-- modal header container starts--&gt;
    &lt;div class="m-pdp-modal-header modal-header"&gt;
      &lt;!--modal header title starts --&gt;
      &lt;h5 class="m-pdp-modal-header-text"&gt;Modal Header
        &lt;span&gt;&lt;a href="#" data-dismiss="modal" class="pull-right icon-close icon-close-modal"&gt;&lt;/a&gt;&lt;/span&gt;
      &lt;/h5&gt;
      &lt;!--modal header title ends --&gt;
   &lt;/div&gt;
   &lt;!-- end modal header container --&gt;
   &lt;!-- form starts --&gt;
   &lt;form&gt;
     &lt;div class="modal-body"&gt;
       &lt;p&gt;Modal description copy&lt;/p&gt;
       &lt;br&gt;
         &lt;label&gt;INPUT&lt;/label&gt;
         &lt;input style="width:250px;" data-type="email" type="email"/&gt;
     &lt;/div&gt;
     &lt;!-- modal footer container starts --&gt;
     &lt;div class="modal-footer pdp-modal-footer"&gt;
       &lt;!-- modal go back to shopping link --&gt;
       &lt;input type="submit" class="btn btn-submit pull-left" value="Submit"&gt;
     &lt;/div&gt;
     &lt;!-- end modal footer container --&gt;
   &lt;/form&gt;
   &lt;!-- form ends --&gt;
 &lt;/div&gt;
 &lt;!-- modal ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->
</section>
<!-- modal section ends -->
