<form id="create-edit-New-exceptionsForm" class="left-align">

	<div class="row row-spaced">
		<div class="col-12">
			<div class="clearfix section-title">
				<h3 class="pull-left">Create Exception Delivery Date</h3>
				<div class="btn-panel">
					<button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
					<button type="button" id="save-btn" class="btn btn-submit"><div class="icon icon-add"></div>Save</button>
					<div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Hidden Alert Message -->

	<div class="row panel alert-panel">
	  <div class="col-12">
	    <div class="row">
	      <div class="col-1">
	        <div class="icon icon-3x icon-warning"></div>
	      </div>
	      <div class="col-11 alert-text">
	                     This is a generic placeholder for error messages in eSAT. <br>
	                     In the live app, this will be a real message and will be hidden by default.
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Hidden Alert Message -->

	<div class="row">
		<div class="col-12">
			<div class="wrap-text"> Create a specific day exception to the days of the week you are normally closed and not available for delivery. </div>
	 	</div>
	</div>

	<div class="row row-spaced form-section">
	   <div class="col-11">
	   	   <label for"f-closure-reason" class="pull-left"> Exception Reason or Description </label>
		   <input type="text" id="f-closure-reason" name="f-closure-reason" value="<%= exceptionReason %>">

	   </div>
	</div>

	<div class="row row-spaced">
	   <div class="col-4 form-section">
			<label for="exception-date" class="pull-left">Exception Date</label>
			<div class="date-container">
				<input type="text" id="exception-date" name="exception-date" class="date" value="<%= exceptionDate %>">
		    </div>
		</div>
	</div>

</form>