<div id="f-promo-condition-wrapper">

  <div class="row row-spaced">
    <div class="col-6 form-section">
        <label for="f-promo-condition">Promotion Conditions</label>
        <div class="select-container">
          <select id="f-promo-condition" name="f-promo-condition">
            <option selected="" disabled="" hidden="" value=""></option>
          </select>
        </div>
      </div>
  </div>

  <div class="row row-spaced">
    <div id="type-3" class="col-12"></div>  
  </div>
  
</div>