
    <div class="row row-spaced">
      <div class="col-6 form-section">
        <label for="f-minItemNumber">Minimum Number Of Items In The Order</label>
        <div class="select-container">
          <select id="f-minItemNumber" class="f-promo-required" name="f-minItemNumber"<% if(federated){ %> disabled<% } %>>
            <option selected disabled hidden value="<%= minItems %>"><%= minItems %></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>        
          </select>
        </div>
      </div>
    </div>
