<div class="row row-spaced">
  <div class="col-12">
    <button type="button" id="add-tier-btn" class="btn btn-submit pull-right"><i class="icon icon-add"></i>Add Tier</button>
  </div>
</div>
<div class="row row-spaced">
  <div class="col-12">
    <table id="tier-table" class="table alternate">
      <thead>
        <tr>
          <th class="col-6-20">Minimum Order Total <i title="This is the cumulated value of product + add on sub-totals (exclusive of fees and taxes)." class="icon icon-tool-tip x-space-s"></i></th>
          <th class="col-6-20">Discount Type</th>
          <th class="col-6-20">Discount Amount</th>
          <th class="col-2-20">Delete</th>
        </tr>
      </thead>
      <tbody class="form-section" id="tier-list"></tbody>
    </table>
  </div>
</div>