<tr>
  <td>
    <div class="select-container">
      <select class="f-promo-required">
        <option selected disabled hidden value="<%= minOrderTotal %>"><%= minOrderTotal %></option>
        <option value="$50+">$50+</option>
        <option value="$100+">$100+</option>
        <option value="$150+">$150+</option>
        <option value="$200+">$200+</option>
        <option value="$250+">$250+</option>
        <option value="$300+">$300+</option>
        <option value="$350+">$350+</option>
        <option value="$400+">$400+</option>
        <option value="$450+">$450+</option>
        <option value="$500+">$500+</option>
      </select>
    </div>
  </td>
  <td>
    <div class="select-container">
      <select class="f-promo-required">
        <option selected disabled hidden value="<%= discountType %>"><%= discountType %></option>
        <option value="Dollar Off">Dollar Off</option>
        <option value="Percentage Off">Percentage Off</option>
      </select>
    </div>
  </td>
  <td>
    <div class="select-container">
      <select class="f-promo-required">
        <option selected disabled hidden value="<%= discountAmount %>"><%= discountAmount %></option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
      </select>
    </div>
  </td>
  <td>
    <button class="icon icon-btn icon-trash icon-2x"></button>
  </td>
</tr>