<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">Update My Site Logo</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row row-spaced">
				<div class="col-12">
					A logo is a surefire way to create brand awareness and differentiate your business from others. We highly encourage you to incorporate your shop's logo onto your website to help increase recognition and build your presence online.<br>
					Your logo will always live on the upper left hand corner of your eFlorist site. You can upload it through eFlorist Site Administration Tool following the easy steps below.
				</div>
			</div>
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen1.jpg">
			</div>		
			<div class="row row-spaced">
				<div class="col-12">
					Go to <span class="heavy">More</span>, then <span class="heavy">Site Theme</span>.
				</div>
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Scroll down to where it says <span class="heavy">Your Logo</span>, then click <span class="heavy">Select</span>.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen2.jpg">
			</div>										
			<div class="row row-spaced">
				<div class="col-12">
					You will see a box with the heading <span class="heavy">Select an Image</span>. Click <span class="heavy">+ Upload Image</span>.
				</div>
			</div>				
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen3.jpg">
			</div>										
			<div class="row row-spaced">
				<div class="col-12">
					Find the logo image you would like to use from within your computer's files. Select it, then click <span class="heavy">Open</span>.
				</div>
			</div>		
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen4.jpg">
			</div>							
			<div class="row row-spaced">
				<div class="col-12">
					The logo image you selected should now appear in the <span class="heavy">Select an Image</span> box.<br>Click on the image you uploaded. A yellow border will appear to confirm your selection.
				</div>
			</div>				
			<div class="row row-spaced">
				<div class="col-12">
					Click the green <span class="heavy">Select</span> button.
				</div>
			</div>					
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen5.jpg">
			</div>	
			<div class="row row-spaced">
				<div class="col-12">
					The image you uploaded should be visible in the <span class="heavy">Your Logo</span> area.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen6.jpg">
			</div>				
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Save Changes</span> button at the top right hand corner of the page.
				</div>
			</div>	
			<div class="row row-spaced">
				<div class="col-12">
					Click <span class="heavy">See It Live</span> to see what your new logo looks like on your Storefront. It may take up to an hour for the logo to display, so please keep checking if needed.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-4/assets/screen7.jpg">
			</div>																						
		</div>		
	</div>
		


