<div class="row row-spaced">
	<div class="col-12">
		<div class="section-title">
			<h2 class="pull-left">Location Based Fees</h2>
			<div class="btn-panel">
				<button id="cancel-btn" class="btn btn-other">Cancel</button>
				<button class="btn btn-submit">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

<div class="row row-spaced">
	<div class="col-12">
		Use this page to set up fees for different areas that you deliver to. Does it cost more to deliver to one city over another? Set your delivery fee to reflect that. You can set fees by zip code, city name, or facility.
	</div>
</div>

<div class="row row-spaced form-section">
	<button id="add-btn" class="x-space-s btn compact btn-submit pull-right"><i class="icon icon-add"></i>Add New Fee</button>
	<button class="x-space-s btn compact btn-submit pull-right btn-file">
	<input type="file" id="f-import-fees">
		<i class="icon icon-add"></i>Import Fees
	</button>
	<button class="x-space-s btn compact btn-submit pull-right"><i class="icon icon-export"></i>Export Fees</button>
	<button class="x-space-s btn compact btn-other pull-right">Download Sample</button>
</div>

<div class="row row-spaced form-section">
	<div class="col-4">
		<label for="f-condition-type">Select Location Type</label>
		<div class="select-container">
		    <select id="f-condition-type" name="f-condition-type">
		        <option selected disabled hidden value=""></option>
		        <option value=""></option>
		        <option value="City">City</option>
		        <option value="Zip Code">Zip Code</option>
		        <option value="Facility Name">Facility Name</option>
		    </select>
		</div>
	</div>

	<div class="col-4">
		<label for="f-condition-value">Search for Location Value</label><i class="icon icon-tool-tip x-space-s" title="Search for a delivery fee by it's location or zip code."></i>
		<div class="search-container">
			<input type="text" id="f-condition-value" name="f-condition-value">
		</div>
	</div>	
</div>

<div class="row row-spaced">
	<div class="col-12">
	<table id="destination-delivery-fee-table" class="table alternate">
		<thead>
			<tr>
				<th>Location Type</th>
				<th>Location Value</th>
				<th>Delivery Fee</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="destination-delivery-fee-list"></tbody>
	</table>
	</div>
</div>

<div id="loading-modal">
	<div class="row">
		<div class="col-12">
			<div class="section-title">
				<h2 class="pull-left">File Upload</h2>
			</div>
		</div>		
	</div>
	<div class="row row-spaced">
		<div class="col-12" style="font-size:1.3em;">
		Your file is being uploaded, please do not<br>close your browser or navigate to a different page.
		</div>
	</div>
	<div class="row row-spaced">
		<div class="col-12">
			<div id="progressbar" class="loading"><div class="progress-label">Loading...</div></div>
		</div>
	</div>
	
</div>
<div id="success-modal">

	<div class="row">
		<div class="col-12">
			<div class="section-title">
				<h2 class="pull-left">Success!</h2>
			</div>
		</div>		
	</div>
	<div class="row row-spaced center-align">
		<div class="col-12" style="font-size:1.3em;">
		Your file was uploaded successfully!<br>Please allow X-X minutes for your changes to be processed.
		</div>
	</div>
	<div class="row row-spaced center-align">
		<div class="col-12">
			<button type="button" id="success-close-btn" class="btn btn-submit">OK</button>
		</div>
	</div>	

</div>