<div id="p-new-about-us">
  <div class="row row-spaced">
    <div class="col-12">
      <div class="clearfix section-title">
        <h2 class="pull-left"><%= id ? 'Edit ' : 'Add ' %> Testimonial</h2>
        <div class="btn-panel">
          <button id="cancel-btn" class="btn btn-other">Cancel</button>
          <button id="save-btn" class="btn btn-submit pull-right">
            <% if(!id) { %><i class="icon icon-add icon-lg"></i><% } %>Save
          </button>
          <div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
        </div>
      </div>
    </div>
  </div>
<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

  <div class="row row-spaced">
    <div class="col-12">
      On this page you can <%= id ? 'edit ' : 'add ' %> a testimonial of your wedding page. This will allow you to customize your testimonial section as you see fit.
    </div>
  </div>

  <form id="create-edit-form" class="row row-spaced panel form-section">
    <div class="row row-spaced">
      <div class="col-6 form-section">
        <label for="customer-name">Section Title</label>
        <input type="text" id="customer-name" name="customer-name" value="<%= customerName %>">
      </div>
      <div class="col-6">
        <div class="label">Display Section<i title="This is the title of the section. It will be shown in larger font on the wedding page." class="icon icon-tool-tip x-space-s"></i></div>
        <input <%= display ? 'checked' : '' %> type="checkbox" id="section-active" name="section-active" class="on-off-switch" />
            <label for="section-active" class="on-off-switch-label">
                <div class="on-off-switch-state">on</div>
            </label>
      </div>
    </div>

    <div class="row row-spaced">
      <div id="tiny-mce-container" class="col-12 form-section">
        <label for="section-description">Section Description</label><i title="This is the content for the section. You can put anything you'd like in here to offer help or advice to your customers." class="icon icon-tool-tip x-space-s"></i>
        <textarea name="section-description" id="section-description" class="tinymce"><%= testimonial %></textarea>
      </div>
    </div>

    <div class="row row-spaced">
      <div class="col-3 form-section image-section">
        <div class="label">Image<i title="You may use the button below to associate an image with your customer testimonial to make it more personal." class="icon icon-tool-tip"></i></div>
        <button type="button" id="f-image-url-1" class="image-upload icon icon-btn icon-image btn-file icon-2x y-space-s"></button>
      </div>
      <div class="col-3">
        <div class="label">Image Preview</div>
        <img id="f-image-1-preview" src="<%= imgUrl1 %>" alt=""></div>
    </div>
  </form>
</div>