
<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Weddings Page</h2>
			<button type="button" id="save-btn" class="btn btn-submit pull-right">Save Changes</button>
		</div>
	</div>
</div>


<!-- Hidden Alert Message -->

<div class="row panel alert-panel">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     This is a generic placeholder for error messages in eSAT. <br>
                     In the live app, this will be a real message and will be hidden by default.
      </div>
    </div>
  </div>
</div>

<!-- Hidden Alert Message -->

<div class="row row-spaced">
	<div class="col-12">
		Weddings, Anniversaries and Engagements
	</div>
</div>



<div class="row row-spaced panel form-section">
	<div class="row">
		<div class="col-12">
			<div class="panel-title"> Wedding Settings</div>
		</div>
	</div>



	<div class="row row-spaced">
		<div class="col-6">
			<label for="f-WeddingLocation">Wedding Location</label><i class="icon icon-tool-tip x-space-s" title="Fill in the wedding locations."></i>
			<input type="text" name="f-weddinglocation" id="f-weddinglocation" value="<%= wednLocation %>">
		</div>
	</div>
</div>


<div class="row row-spaced panel form-section">
	<div class="row">
		<div class="col-12">
			<div class="panel-title"> Wedding Order ID </div>
		</div>
	</div>



	<div class="row row-spaced">
		<div class="col-12">
			<label for="f-weddingOrderID"> Wedding Order ID </label><i class="icon icon-tool-tip x-space-s" title="Enter your order ID "></i>
			<textarea name="f-weddingOrderID" id="f-weddingOrderID" class="size-3"><%= weddingOrders %></textarea>
		</div>
	</div>
</div>

