<script type="text/javascript" src="js/app/content/help-1/assets/help-1.js"></script>
<link rel="stylesheet" href="js/app/content/help-1/assets/help-1.css">

	<div id="help-content-right">
		<div class="row row-spaced">
			<div class="col-12">
				<div class="clearfix section-title">
					<h2 class="pull-left">Update a Price</h2>
				</div>
			</div>
		</div>

		<div id="help-content">
			<div class="row row-spaced">
				<div class="col-12">
					Though we provide suggested pricing for all eFlorist products, you have the freedom to change prices at your discretion. To update pricing, follow the easy steps below.
				</div>
			</div>
			<div class="row row-spaced">
				<div class="col-12">
					Go to <span class="heavy">Merchandising</span>, then <span class="heavy">Product Management</span>.
				</div>
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Type the desired product name or product number into the <span class="heavy">Product Search</span> box.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-5/assets/screen1.png">
			</div>			
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Edit</span> pencil icon to make changes.
				</div>
			</div>	
			<div class="row row-spaced center-align">
				<img class="fit-container help-screen" src="js/app/content/help-5/assets/screen2.jpg">
			</div>								
			<div class="row row-spaced">
				<div class="col-12">
					Click the <span class="heavy">Save</span> button at the top right of the page when you're done.
				</div>
			</div>						
		</div>		
	</div>
		


