<div id="shop-value-icons">
<!-- Hidden Alert Message -->
<div class="col-12">
<div class="row row-spaced panel alert-panel hidden-alt" id="value-icons-alert">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <div class="icon icon-3x icon-warning"></div>
      </div>
      <div class="col-11 alert-text">
                     You may only select up to 4 different Shop Value Icons. <br>
                     Please remove icons first if you would like to add more.
      </div>
    </div>
  </div>
</div>
</div>
<!-- Hidden Alert Message -->
	<div class="col-6">
		<div class="row row-spaced">
			<div class="col-12"><strong>Featured Icons</strong></div>
		</div>

		<div class="row row-spaced">
			<div class="col-12">
				<div id="active-items" class="grid-2-closed clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="row row-spaced">
	  		<div class="col-12"><strong>Value Icons</strong></div>
		</div>
	    <div class="row row-spaced">
	    	<div class="col-12">
	        	<ul id="all-items" class="listing"></ul>
	      	</div>
	    </div>
	</div>
</div>