<section id="ad-modules" class="l-wrapper top-margin">
  <h2>Ad Modules</h2>
  <p>Displaying the two layouts for product promotional modules.</p>

  <!-- product container starts -->
  <div class="m-product-mini col-1 top-margin">
    <div data-id="11500">
      <!-- main-image starts -->
      <div id="productImage" class="m-product-mini-image">
        <a href="/batch2/subcategory">
          <style type="text/css" scoped="">
            #promoBg-11500{background-image: url('http://placehold.it/160x200');}
            @media screen and (min-width:961px){
              #promoBg-11500{background-image: url('http://placehold.it/160x200');}
            }
            .oldie #promoBg-11500{background-image: url('http://placehold.it/160x200');}
          </style>
          <div id="promoBg-11500" class="promo-bg-image"></div>
        </a>
      </div>
      <!-- main-image ends -->
      <a href="javascript:void(0);" class="m-category-flower-link centered text-large">Vestibulum ante ipsum primis in.</a>
      <a href="javascript:void(0);" class="m-product-mini-price">$00.00</a>
      <a href="javascript:void(0);" class="centered bembosize alt-pink"></a>
    </div>
  </div>
  <!-- product container ends -->

  <div class="m-product-mini col-2 top-margin">
    <div data-id="11201">
      <!-- main-image -->
      <div id="productImage" class="m-product-mini-image">
        <a href="javascript:void(0);">
          <style type="text/css" scoped="">
            #promoBg-11201{background-image: url('http://placehold.it/340x220');}

            @media screen and (min-width:961px){
              #promoBg-11201{background-image: url('http://placehold.it/340x220');}
            }
            .oldie #promoBg-11201{background-image: url('http://placehold.it/340x220');}
          </style>
          <div id="promoBg-11201" class="promo-bg-image"></div>
        </a>
      </div>
      <a href="javascript:void(0);" class="m-category-flower-link centered text-large">Nulla laoreet pulvinar diam, id. Vestibulum ante ipsum primis in.</a>
      <a href="javascript:void(0);" class="centered bembosize alt-pink">CTA Link</a>
    </div>
  </div>

  <div class="clear"></div>
  <!-- code demo starts -->
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- product container starts --&gt;
  &lt;div class="m-product-mini col-1 top-margin"&gt;
    &lt;div data-id="11500"&gt;
      &lt;!-- main-image starts --&gt;
      &lt;div id="productImage" class="m-product-mini-image"&gt;
        &lt;a href="/batch2/subcategory"&gt;
          &lt;style type="text/css" scoped=""&gt;
            #promoBg-11500{background-image: url('http://placehold.it/160x200');}
            @media screen and (min-width:961px){
             #promoBg-11500{background-image: url('http://placehold.it/160x200');}
           }
           .oldie #promoBg-11500{background-image: url('http://placehold.it/160x200');}
         &lt;/style&gt;
         &lt;div id="promoBg-11500" class="promo-bg-image"&gt;&lt;/div&gt;
       &lt;/a&gt;
     &lt;/div&gt;
     &lt;!-- main-image ends --&gt;
     &lt;a href="#" class="m-category-flower-link centered text-large"&gt;Vestibulum ante ipsum primis in.&lt;/a&gt;
     &lt;a href="#" class="m-product-mini-price"&gt;$00.00&lt;/a&gt;
     &lt;a href="#" class="centered bembosize alt-pink"&gt;&lt;/a&gt;
   &lt;/div&gt;
 &lt;/div&gt;
 &lt;!-- product container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- code demo ends -->
</section>
