<section id="colors" class="l-wrapper">
  <h2>Colors</h2>
  <p>Below, you'll find the color scheme that will be used throughout the eSat system in order to keep the same look and feel site wide.</p>
  <br/>
  <p>Color Scheme:</p>

   <div class="top-margin">
    <div class="grid_1 d-grid_12">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-orange"></i>
        <div class="clear"></div>
        <p>Orange <br> #ff7e00</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-blue"></i>
        <div class="clear"></div>
        <p>Blue <br> #177dfd</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-gray"></i>
        <div class="clear"></div>
        <p>Gray <br> #838383</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-white"></i>
        <div class="clear"></div>
        <p>White <br> #f4f4f4</p>
      </div>
    </div>
  </div>

   <div class="top-margin">
    <div class="grid_1 d-grid_12">
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-light-orange"></i>
        <div class="clear"></div>
        <p>Light Orange <br> #ff9b3a</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-light-blue"></i>
        <div class="clear"></div>
        <p>Light Blue <br> #8cbfe4</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-light-gray"></i>
        <div class="clear"></div>
        <p>Light Gray <br> #a6a6a6</p>
      </div>
      <div class="grid_1 d-grid_3">
        <i class="fa fa-square esat-light-yellow"></i>
        <div class="clear"></div>
        <p>Light Yellow <br> #f2f5ea</p>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</section>
