<section id="interactive-states" class="l-wrapper top-margin">
  <h2>Interactive States</h2>
  <p>Teleflora's site icons that have interactive states and/or are part of larger UI interactions.</p>

  <form class="grid_4 d-grid_6 top-margin">
    <input type="text" class="m-navbar-search full-border" placeholder="Search"/>
    <button type="submit" class="m-navbar-search-btn position-absolute no-border"></button>
  </form>
  <div class="grid_4 d-grid_6 top-margin">
    <input id="deliveryDate" type="text" placeholder="Delivery Date" class="delivery_date picker__input" readonly="">
  </div>
  <div class="clear"></div>
  <div class="m-code l-wrapper top-margin">
    <table>
      <tbody>
        <tr>
          <td>
            <pre class="prettyprint linenums lang-html">
  &lt;!-- search container starts --&gt;
  &lt;form class="grid_4 d-grid_6"&gt;
    &lt;input type="text" class="m-navbar-search full-border" placeholder="Search"&gt;
    &lt;button type="submit" class="m-navbar-search-btn position-absolute no-border"&gt;&lt;/button&gt;
  &lt;/form&gt;
  &lt;!-- search container ends --&gt;
  &lt;!-- calendar container starts --&gt;
  &lt;div class="grid_4 d-grid_6"&gt;
    &lt;input id="deliveryDate" type="text" placeholder="Delivery Date" class="delivery_date picker__input" readonly=""&gt;
  &lt;/div&gt;
 &lt;!-- calendar container ends --&gt;
            </pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
