<div class="row row-spaced">
	<div class="col-12">
		<div class="clearfix section-title">
			<h2 class="pull-left">Manage Search Terms</h2>
			<div class="btn-panel">
				<button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
				<button type="button" id="new-btn" class="btn btn-submit pull-right"><i class="icon icon-add icon-lg"></i>Add New</button>
				<button type="button" id="save-btn" class="btn btn-submit">Save</button>
				<div role="tooltip" data-parent="save-btn" class="ui-tooltip ui-widget ui-corner-all ui-widget-content tooltip-change"></div>
			</div>
		</div>
	</div>
</div>
<div class="row row-spaced">
	<div class="col-12">
		We have compiled a list of the most common search terms and have created graphical landing page headers for you. On this page, you can control which ones you use as well as build new ones!
	</div>
</div>
<!-- Hidden Alert Message -->
<div class="row panel alert-panel">
	<div class="col-12">
		<div class="row">
			<div class="col-1">
				<div class="icon icon-3x icon-warning"></div>
			</div>
			<div class="col-11 alert-text">
				This is a generic placeholder for error messages in eSAT. <br>
				In the live app, this will be a real message and will be hidden by default.
			</div>
		</div>
	</div>
</div>
<!-- Hidden Alert Message -->


<div class="row row-spaced panel form-section">
	<div class="row row-spaced">
		<div class="col-6">
			<div class="switch-input-switch">
				<div class="label">Search Terms Status<i title="If you do not wish to display a special banner on your search results page, or redirect users to selected landing pages, you can choose to turn this functionality off." class="icon icon-tool-tip x-space-s"></i></div>
				<input <%= searchTermStatus ? 'checked' : '' %> type="checkbox" id="f-searchTermStatus" name="f-searchTermStatus" class="on-off-switch" />
				<label for="f-searchTermStatus" class="on-off-switch-label">
					<div class="on-off-switch-state">on</div>
				</label>
			</div>
		</div>
	</div>
	<div class="row row-spaced">
		<div class="col-12">
			<div class="panel-title">Existing Search Terms</div>
		</div>
	</div>

	<!-- Start of Section table -->
	<div class="row row-spaced">
		<div class="col-12">
			<table class="table alternate">
				<thead>
					<tr>
					<th class="col-4 left-align">Search Term</th>
					<th class="col-3 left-align">Location</th>
					<th class="col-2">Type</th>
					<th class="col-1">Status</th>
					<th class="col-1">Edit</th>
					<th class="col-1">Delete</th>
					</tr>
				</thead>
				<tbody id="section-list"></tbody>
			</table>
		</div>
	</div>
	<!-- End of Section Table -->

</div>


