<div id="site-lookup-box">
	<div class="row row-spaced">
		<div class="col-6 left-align">
			<h2 class="siteTitle">
				Site Lookup
			</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus facere necessitatibus repudiandae, porro saepe fugit provident.</p>
			<form id="f-site-lookup">
				<div class="form-section">
					<label for="f-tfid">Teleflora ID:</label>
					<input type="text" id="f-tfid" name="f-tfid">
				</div>
				<div class="form-section">
					<label for="f-name">Site Name:</label>
					<input type="text" id="f-name" name="f-name">
				</div>						
				<div class="form-section">
					<label for="f-url">URL:</label>
					<input type="text" id="f-url" name="f-url">
				</div>
				<div class="form-section">
					<label for="f-vendorid">Vendor ID:</label>
					<input type="text" id="f-vendorid" name="f-vendorid">
				</div>
				<div class="form-section">
					<label for="f-group">Group:</label>
					<input type="text" id="f-group" name="f-group">
				</div>																		
				<div class="center-align y-space-s"><button class="btn btn-submit" type="button" id="search-btn">Search</button></div>

			</form>

		</div>

		<div class="col-6 left-align">
			<table id="site-table">
				<thead>
					<th>id</th>
					<th>tfid</th>
					<th>name</th>
					<th>url</th>
					<th>vendorid</th>
					<th>group</th>		
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<button type="button" id="cancel-btn" class="btn btn-other">Cancel</button>
</div>
