<% @title="eSat Pattern Library - Grid System" %>
<% @desc="The eSat grid system is a fluid 12 column responsive grid layout." %>

<%= render :partial=> "/pattern-library/grid-system/sidebar" %>
<div class="d-grid_9 container_4">
  <section>
    <%= render "grid-sizes/index" %>
    <div class="divider top-margin"></div>
    <%= render "grid-gutters/index" %>
    <div class="divider top-margin"></div>
    <%= render "mixed-nested-grids/index" %>
    <div class="l-content-homepage"></div>
  </section>
</div>
