<%= render :partial=> "/pattern-library/partials/header" %>
<%= render :partial=> "/pattern-library/partials/masthead" %>

<section class="d-container_12 container_4 top-margin clearfix">
  <div class="l-wrapper">
    <%= yield %>
  </div><!-- .l-wrapper -->
</section>

<%= render :partial=> "/pattern-library/partials/footer" %>
